/.settings
/target
/.classpath
/.project
**/node_modules
**/nunaliit-es6/dist
/src/main/js/nunaliit2/n2es6.css
/src/main/js/nunaliit2/n2es6.js
/src/main/js/nunaliit2/n2es6.js.map
/src/main/nunaliit-es6/package-lock.json
/tools/node