/nunaliit2-couch-mobile.js
/nunaliit2-couch.js
/nunaliit2.js
/nunaliit2-couch-debug.js
/nunaliit2-couch-mobile-debug.js
/nunaliit2-debug.js
/nunaliit2-couch-debug-il.js
/nunaliit2-couch-mobile-debug-inline.js
/nunaliit2-debug-il.js
