.n2DisplayTiled_documents {
	position: absolute;
	top: 25px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #cccccc;
	overflow-x: hidden;
	overflow-y: auto;
}

.n2DisplayTiled_tile {
	position: absolute;
	background-color: #ffffff;
	overflow: hidden;
}

.n2DisplayTiled_tile:hover {
	background-color: #eeeeee;
}

.n2DisplayTiled_schema {
	border: 1px solid #000000;
	background-color: #ffffff;
}

.n2DisplayTiled_schema:hover {
	background-color: #dddddd;
}

.n2DisplayTiled_filters {
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	height: 25px;
}

.n2DisplayTiled_filter_selected {
	font-weight: bold;
}