.n2DisplayTiled_documents {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
/*
	overflow-x: hidden;
	overflow-y: auto;
*/
    margin:20px;
}

.n2DisplayTiled_tile {
	position: absolute;
	background-color: rgba(0,0,0,0.03);
	overflow: hidden;
	background-image: url('images/tile_bg_document.png');
	background-position: center 40px;
	background-repeat: no-repeat;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    
}
.n2DisplayTiled_tile_content {
    padding:10px;   
}
div.n2DisplayTiled_tile_video {
	background-image: url('images/tile_bg_video.png');
}

div.n2DisplayTiled_tile_audio {
	background-image: url('images/tile_bg_audio.png');
}

div.n2DisplayTiled_tile_image {
	background-image: url('images/tile_bg_image.png');
}

.n2DisplayTiled_documents div.n2DisplayTiled_tile_current {
	background-image: none;
    background-color:#fff;
}

.n2DisplayTiled_thumb {
	position: absolute;
	width: 100%;
	height: 100%;
}

.n2DisplayTiled_thumb img {
	width: 125%;
	height: 100%;
}

.n2DisplayTiled_tile_brief {
	font-size: 14px;
	font-weight: 100;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	width: 90%;
	padding: 5%;
	background-color: rgba(255,255,255,0.8);
    word-wrap:break-word;
}

.n2DisplayTiled_tile:hover {
	background-color: rgba(0,0,0,0.06);
}
.n2DisplayTiled_tile_current.n2DisplayTiled_tile:hover {
	background-color: transparent;
}
.n2DisplayTiled_schema {
	border: 1px solid #000000;
	background-color: #ffffff;
}

.n2DisplayTiled_schema:hover {
	background-color: #dddddd;
}

.n2DisplayTiled_filters {
	position: absolute;
	top: 25px;
	left: 0;
	right: 0;
	height: 25px;
    padding:10px;
    text-align:right;
}
.n2DisplayTiled_filters a {
    padding:3px 8px;
    margin:0 5px;
}
.n2DisplayTiled_filter_selected {
	font-weight: bold;
}
.n2DisplayTiled_current_buttons {
    padding:10px;
    text-align:right;
}
.n2DisplayTiled_current_buttons a {
    margin:0 10px;   
}

.n2_display_format_tiled .n2module_introduction {
    padding:20px;   
}
