/*! n2.layout.css */

/* ==========================================================================
   - Base layout styles for Nunaliit generic
   - Styles for major layout sections
   ========================================================================== */



/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

/* General layout styles for Nunaliit */

.nunaliit_header {
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height:auto;
	overflow:visible;
	margin: 0;
	border: 0;	
	padding:0;
	z-index:9;
}
.nunaliit_header_container {
	position:relative;
}
.nunaliit_content {
	position:absolute;
	width:100%;
}
.nunaliit_footer {
	position:absolute;
	bottom:0;
	left:0;
	height:auto;
	width:100%;
	overflow:visible;
	margin: 0;
	border: 0;	
	padding:0;
	z-index:9;
}

/* Specific layout styles for Nunaliit Atlas */

.nunaliit_atlas .nunaliit_header {
	
}
.nunaliit_atlas .nunaliit_content {
	
}
.nunaliit_atlas .nunaliit_footer {
	
}

/* Specific layout styles for Nunaliit Atlas */

.nunaliit_application .nunaliit_header {
	
}
.nunaliit_application .nunaliit_content {
	
}
.nunaliit_application .nunaliit_footer {
	
}



/* Smaller screens */

@media only screen and (max-width: 1023px) {

	
	
}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {


}




