

/*START - Overide Styles for Jquery UI styling*/

.ui-widget-content {
/*	border:1px solid #AAA !important;
*/	background-color: rgba(255,255,255,1) !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
border: 1px solid #AAA;
background: rgba(255,255,255,1) url() !important;
}

.n2s_insertedExternalMediaLink {
	font-weight:normal;
	padding: 0.5em 3em 0.5em 0.7em;
	text-decoration: none;
	border-radius: 5px;
	border: 1px solid lightGrey;
	border-image: initial;
	background: #bbb url('images/download_file_bg.png') no-repeat center right;
	color: #555;
	display:inline-block;
	margin-bottom:10px;
}

.n2s_externalMediaLinkName {
	font-weight:normal;
	font-style:italic;
	font-size:0.8em;
	color:#848484;
	width:100px;
	overflow:hidden;
}

.n2s_externalMediaLinkInfo {
	font-size: 1em;
	font-weight:normal;
	padding: 0.5em 0.5em 0.5em 0.7em;
	text-decoration: none;
	border-radius: 5px;
	border: 1px solid lightGrey;
	border-image: initial;
	background: #E6E6E6 url('images/ui-bg_glass_75_e6e6e6_1x400.png') 50% 50% repeat-x;
	color: #555;
	display:inline-block;
	margin-bottom:10px;
	margin-right:5px;
	
}

.n2s_insertedExternalMediaLink:hover, .n2s_externalMediaLinkInfo:hover { 
	-moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.n2Show_icon_wrapper {
	margin-bottom:2px;
	text-align:center;
	background: url('images/magnifying-glass.png') no-repeat center center;
}

.n2Show_icon_wrapper img {
	border-radius: 4px;
	-moz-box-shadow: inset 0 0 85px rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 0 0 85px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 0 85px rgba(0, 0, 0, 0.4);
	padding:0;
	margin:0 auto;
	transition: all 0.25s;
	-moz-transition: all 0.25s;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
}

.n2Show_icon_wrapper img:hover {
	cursor:pointer;
	opacity:0.75;
	transition: all 0.25s;
	-moz-transition: all 0.25s;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
}

/*END - Overide Styles for Jquery UI styling*/


/*START - Overide Superfish styles*/

.sf-menu {
float: left;
margin-bottom: 1em;
}

.sf-navbar {
background: none !important;
}

.sf-navbar li {
background:none !important;
}

.sf-navbar a, .sf-navbar a:visited {
border: none;
padding: .5em .5em .5em .7em;
text-decoration: none;
-moz-border-radius: 5px;
border-radius: 5px;
margin-right: 5px;
border: 1px solid lightGrey;
background: #E6E6E6 url('images/ui-bg_glass_75_e6e6e6_1x400.png') 50% 50% repeat-x;
font-weight: normal;
color: #555;

}

/*END - Overide Superfish styles*/


body {
	font-family: helvetica, arial, Georgia, serif;
	overflow: hidden;
	font-size:80%;
	width: 100%;
	height: 100%;
	margin: 0 5px;
	border: 0;
	background-color: #EEE;
}


/*, a:link img, a:visited img, a:hover img, a:active img */
/*	a img, a:link img, a:vlink img, a:alink*/
img {
	border-style: none;
	margin: 0;
	border: 0;
}

p {
	margin:0 0 10px 0;
}

.value {
	margin:5px 0;
}

.value p {
	font-size:0.97em/1.2em;
	font-family: helvetica, arial, Georgia, serif;
}	

.label {
	margin:5px 0;
	padding-right:8px;
	width:30%;
	font-size:1em/1.2em;	
}

span.label {
	display:inline-block;
}

#header, div.n2_header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	overflow: hidden;
	margin: 0;
	border: 0;	
	padding: 10px 20px;
	color: white;
	border-bottom: 1px solid  rgba(255,255,255,1);

	background-color: #272727;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#272727), to(#4b4b4b));
	background: -webkit-linear-gradient(top, #4b4b4b, #272727);
	background: -moz-linear-gradient(top, #4b4b4b, #272727);
	background: -ms-linear-gradient(top, #4b4b4b, #272727);
	background: -o-linear-gradient(top, #4b4b4b, #272727);
	
	-moz-box-shadow: 0 2px 30px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 2px rgba(0,0,0,0.7);
	box-shadow: 0 2px 30px rgba(0,0,0,0.7);
	z-index:9;
 	}

#title, .n2_title {
	margin: 0;
	border: 0;
	padding: 0;
	text-shadow: black 1px 1px 1px;
	z-index:10;
	font-size: 1.9em;
	float:left;
}

a.n2_title_link {
	color: inherit;
	text-decoration: inherit;
}

#map, .nunaliit_map {    
	position: absolute;
	top: 51px;
	left: 0;
	right: 0px;
	bottom: 0px;
	border: 1px solid #777;
	margin: 0;
	border: 0;
}

div.olControlZoom a { 

}

.map_interaction {
	position: absolute;
	top:9px;
	right: 25px;
	width: 440px;
	padding: 0;
	margin: 0;
	border: 0;
	z-index:10;
}

.map_interaction input { 
	font-size: 13px;
	font-family: helvetica, arial, Georgia, serif;
	cursor: pointer;
}


.results { 
	clear:both; padding: 10px 0px 0px 0px; 
}


.newDocumentInputs { 
	float:right; padding: 0px 10px 0px 0px; 
}

.interaction_control_label {
	float: right;
	padding: 2px 0px 0px;
}

.interaction_control_selector {
	float:right;
}

.searchInputs { 
	float:left; 
}

#searchInput, .nunaliit_searchInput {
	position: absolute;
	right: 25px;
	top: 85px;
	height: 66px;
	width: 440px;
	bottom: 20px;
	overflow: visible;
	z-index: 50;
	-moz-border-radius: 5px 5px 0 0 ;
	border-radius: 5px 5px 0 0 ;
	background-color: rgba(255, 255, 255, 0.6);
	border-bottom: 1px solid white;
}

#searchInput input.search_panel_input, .nunaliit_searchInput input.search_panel_input {
	margin: 15px 0 0 15px;
	width: 386px;
	padding: 10px;
	border: 1px solid #BBB;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #666;
}

/* Handle by jquery-ui. Keep for backwards compatibility */
#searchLookAhead {
	display: none;
}

#login {
	position: absolute;
	top: 9px;
	right: 25px;
	color: white;
	bottom: 20px;
	overflow: hidden;
	width: 190px;
	height: 30px;
	z-index:10;
}

.loginLink {
	float: right;
	display: block;
	text-decoration: none;
}

.loginGreeting {
	float: right;
	padding-top: 8px;
	padding-right: 8px;
}

#side {
	position: absolute;
	top: 85px;
	right: 25px;
	bottom: 25px;
	overflow: auto;
	width: 410px;
	padding: 80px 15px 15px 15px;
	background-color:rgba(255, 255, 255, 0.8);
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#side_attrib table, .n2MediaDisplayDialog table {
	border: 0px;
}

#side_attrib table.attrib_header, .n2MediaDisplayDialog table.attrib_header {
	border-width: 0px;
	width: 100%;
}

#side_attrib tr.attrib_header, .n2MediaDisplayDialog tr.attrib_header {
	vertical-align: top;
	font-weight: bold;
	font-family: Georgia, serif;
}

#side_attrib td.label, .n2MediaDisplayDialog td.label {
	font-family: Georgia, serif;
	font-size: 100%;
	font-weight: normal;
	text-align: right;
	padding: 0px 5px 0px 0px;
	width: 30%;
	vertical-align: text-top;
}

#side_attrib td.info, .n2MediaDisplayDialog td.info {
	font-family: Geneva, Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-align: left;
	vertical-align: text-top;
}

#side_contrib table.contrib_header {
	font-family: Georgia, serif;
	margin: 10px 0px 0px 0px;
	border-width: 0px;
	width: 100%;
}

#side_contrib tr.contrib_header {
	margin: 0px;
	vertical-align: top;
	font-weight: bold;
}

#side_contrib table.contrib {
	border-collapse: collapse;
	width: 100%;
}

#side_contrib tr.contrib {
	vertical-align: top;
	font-family: Geneva, Helvetica, Arial, sans-serif;
}

#side_contrib td.contrib_entry_left {
	width: 10%;
}
#side_contrib td.contrib_entry_right {
	width: 90%;
	padding: 0px 0px 0px 2px;
}
#side_contrib td.contrib_entry_fullwidth {
	width: 100%;
	padding: 0px 0px 0px 2px;
}

#side_contrib td.contrib_entry_solid_top_border {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #777777;
}
#side_contrib td.contrib_entry_dashed_top_border {
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #777777;
}
#side_contrib td.contrib_entry_solid_bottom_border {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: #777777;
}
#side_contrib td.contrib_entry_dashed_bottom_border {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-top-color: #777777;
}
#side_contrib td.contrib_entry_center_marker {
	vertical-align: middle;
	text-align: center;
}

#side_contrib p.contrib_entry_title {
	font-family: Georgia, serif;
	font-style: italic;
	float:       left;
}
#side_contrib p.contrib_entry_contributor {
	font-family: Georgia, serif; 
	font-size:   85%;
	float: left;
	padding: 2px 0px 0px 5px;
}
#side_contrib .contrib_entry_contributor_unknown {
	color: #ff0000;
}
#side_contrib .contrib_entry_contributor_guest {
	color: #ff0000;
}
#side_contrib .contrib_entry_contributor_name {
	font-weight: bold;
}
#side_contrib p.contrib_entry_createTS {
	font-family: Geneva, Helvetica, Arial, sans-serif; 
	font-size:   70%;
	clear: left;
	padding: 0px 0px 0px 10px;
}
#side_contrib div.contrib_entry_place_icon {
	float:   right;
	display: block;
	width: 26px;
	height: 26px;
	background: transparent url(images/place_icon.png) no-repeat; 
}
#side_contrib div.contrib_entry_place_icon:hover {
	background-position: -26px 0;
}
#side_contrib div.contrib_entry_info_icon {
	float:   right;
	display: block;
	width: 26px;
	height: 26px;
	background: transparent url(images/contrib_info_icon.png) no-repeat; 
}
#side_contrib div.contrib_entry_info_icon:hover {
	background-position: -26px 0;
}
#side_contrib div.contrib_entry_media_icon_wrapper {
	font-family: Geneva, Helvetica, Arial, sans-serif; 
	font-size:   70%;
	float: right;
	text-align: center;
}
#side_contrib div.contrib_entry_media_icon {
	display: block;
	width: 26px;
	height: 26px;
	margin: 0 auto;
}
#side_contrib div.contrib_entry_audio_icon {
	background: transparent url(images/audio_icon.png) no-repeat; 
}
#side_contrib div.contrib_entry_audio_icon:hover {
	background-position: -26px 0;
}
#side_contrib div.contrib_entry_video_icon {
	background: transparent url(images/video_icon.png) no-repeat; 
}
#side_contrib div.contrib_entry_video_icon:hover {
	background-position: -26px 0;
}
#side_contrib div.contrib_entry_image_icon {
	background: transparent url(images/image_icon.png) no-repeat; 
}
#side_contrib div.contrib_entry_image_icon:hover {
	background-position: -26px 0;
}
#side_contrib div.contrib_entry_link_group {
	clear: left;
	float: left;
}
#side_contrib a.contrib_entry_link {
	padding: 5px 0px 0px 10px;
	font-size: 75%;
	color: #2F4F4F;
	cursor: default;
}
#side_contrib a.contrib_entry_link:hover {
	color: #8B0000;
}
#side_contrib p.contrib_entry_comment {
	font-family: Geneva, Helvetica, Arial, sans-serif; 
	font-size:   85%;
	clear: left;
}

#side_contrib p.contrib_entry_embeddedAudio {
	padding: 5px 0px 0px 0px;
	text-align: center;
}

#side_contrib p.contrib_entry_last_edit {
	font-family: Geneva, Helvetica, Arial, sans-serif; 
	font-size:   70%;
	clear: left;
	padding: 5px 0px 0px 0px;
}

#side_contrib input, #side_contrib p {
	font-family: Geneva, Helvetica, Arial, sans-serif;
}

#controlToggle li {
    list-style: none;
}

#count {
	vertical-align:60%;
	margin-left:15px;
	color: white;
}

.jqmContributions_instructions, .jqmEditAttributes_instructions { /* defined according to jqmWindow */
	margin: 0px 5px 10px 5px;
	vertical-align: top;
}

.jqmContributions_input_heading {
	margin: 0px 5px 10px 5px;
	vertical-align: top;
	display: inline-block;
	width: 90px;
}

.jqmContributions_input_heading_2nd_on_line {
	margin: 0px 5px 10px 5px;
	vertical-align: top;
	display: inline-block;
	width: 75px;
}

.jqmContributions_input{
	margin: 0px 5px 10px 5px;
	vertical-align: top;
}

div.olkitAttrForm {
	overflow: auto;
}

.olkitAttrFormFeatureInstructions {
}

div.olkitAttrFormFeatureAttributes {
	margin: 0px 5px 10px 5px;
}

div.olkitAttrFormFeatureAttributes ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0px 5px 10px 5px;
}

div.olkitAttrFormFeatureAttributes li {
	margin: 2px 10px 0px 5px;
}

div.olkitAttrFormFeatureAttributes label {
	vertical-align: bottom;
	display: inline-block;
	width: 90px;
}

div.olkitAttrFormFeatureAttributes input, jqmEditAttributes_input {
	vertical-align: bottom;
	display: inline-block;
	width: 65%;
}

div.olkitAttrFormFeatureAttributes input.dbWebFormSelectButton {
	width: 35px;
}

table.mediaSelection {
}

table.mediaSelection tr {
}

table.mediaSelection tr:hover {
	background-color: #ffffff;
}

table.mediaSelection td {
	border: solid #000000 1px;
}

.intro b {
	font-size:26px;
	font-weight:normal;
	display:block;
}

.intro img {
	border-radius: 4px;
	-moz-box-shadow: inset 0 0 85px rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 0 0 85px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 0 85px rgba(0, 0, 0, 0.4);
}

.n2Display_buttons {
	margin-top: 20px;
	display: block;
	height: 35px;
	margin-bottom: 5px;
}

.nunaliit_form_link, .intro a, .map_interaction input, .loginLink {
	padding: .5em .5em .5em .7em;
	text-decoration: none;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-right: 3px;
	border: 1px solid lightGrey;
	background: #E6E6E6 url('images/ui-bg_glass_75_e6e6e6_1x400.png') 50% 50% repeat-x;
	font-weight: normal;
	color: #555;
}

.nunaliit_form_link:hover, .intro a:hover { 
	background-color: #619b00;
}

/*
	Workaround problem in OpenLayers CSS (http://trac.openlayers.org/ticket/2183)
*/
.olControlEditingToolbar .olControlMoveFeatureItemInactive { 
  background-position: 0px 0px; 
}
.olControlEditingToolbar .olControlMoveFeatureItemActive { 
  background-position: 0px -23px ;                                                                   
}

/*
 * override some defaults for jquery ui datepicker
 */
#ui-datepicker-div {
	z-index: 9999999;
}
.ui-datepicker .ui-datepicker-header {
	font-size: 0.75em;
	padding: 0.1em 0;
}
.ui-datepicker table {
	font-size: 0.75em;
	margin: 0 0 0.2em;
}
.ui-datepicker th {
	padding: 0.4em 0.1em;
}

.olkitDisabled {
	color: #cccccc;
}

.olPopupContent {
	max-width: 250px;
}

/* Fix spurious copyright pop-up */
.olLayerGooglePoweredBy, .gmnoprint {
	visibility: hidden;
}
