/*
	This portion of the CSS deals with the display of SlideEditor
*/

.n2se_root, .n2se_history, .n2se_main, .n2se_back, .n2se_display {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

/* Top div of editor */
.n2se_root {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

/* Div that holds history */
.n2se_history {
	position: absolute;
	top: 0px;
	left: 1px;
	right: 1px;
/*	height: 25px;
	
	background-image: url("slideEditor/ui-bg_glass_75_dadada_1x400.png");
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: 50% 50%;
	background-color: #dadada;
	border: 1px solid #cacaca;
	border-radius: 4px 4px 4px 4px;
	
	font-family: Helvetica,Arial,sans-serif;
	font-weight: bold;
	text-decoration: none;*/
}

/* Span that holds back button in history bar */
.n2se_history_back {
	display: inline-block;
	cursor: pointer;
	padding: 10px 10px 10px 15px;
	text-decoration: none;
	margin-right: 3px;
	border: 1px solid #c3c1c1;
	background-color:#eee;
	/*
	border-radius: 4px 4px 4px 4px;
	border: 1px solid #155678;
    color: #FFFFFF;
    background-color: #444444;*/ /* IE */
}
.n2se_history_back:hover {
	background-color: #e9e6e6;
	-moz-box-shadow: 1px 1px 2px #b8b8b8;
	-webkit-box-shadow: 1px 1px 2px #b8b8b8;
	box-shadow: 1px 1px 2px #b8b8b8;
	border: 1px solid #9e9e9e;
}
.n2se_history_back > .n2se_btn {
	float: left;
	background-image: url("slideEditor/icons-18-white.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: -144px 50%;
	background-color: #444444; /* IE */
    border-radius: 9px 9px 9px 9px;
    padding: 18px 18px 0px 0px;
    margin: 1px 3px 0px 3px;
}
.n2se_history_back > .n2se_btn {
	background-color: rgba(0, 0, 0, 0.4); /* non-IE */
}
.n2se_history_back > .n2se_label {
    padding: 0px 5px 0px 5px;
}

/* Span that holds one level of history */
.n2se_history_level {
	display: inline-block;
	cursor: pointer;
	display: inline-block;
	cursor: pointer;
	padding: 10px 10px 10px 15px;
	text-decoration: none;
	margin-right: 3px;
	border: 1px solid #c3c1c1;
	background-color:#eee;
}
.n2se_history_level:hover {
	background-color: #e9e6e6;
	-moz-box-shadow: 1px 1px 2px #b8b8b8;
	-webkit-box-shadow: 1px 1px 2px #b8b8b8;
	box-shadow: 1px 1px 2px #b8b8b8;
	border: 1px solid #9e9e9e; 
}

/* Span that comes before all levels */
.n2se_history_head {
	padding-left: 10px;
}

/* Span that comes after all levels */
.n2se_history_tail {
}

/* Span that comes between levels */
.n2se_history_inter {
	padding: 0px 2px 0px 0px;
}

.n2se_main {
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

/* Disable back button located on the left
.n2se_back {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 10px;
	bottom: 0px;
	
	background-color: #ffccff;
}

.n2se_back:hover {
	background-color: #ffcccc;
}
*/
.n2se_back {
	display: none;
}

.n2se_display {
	position: absolute;
/* Disable back button located on left	
	left: 10px;
*/
	left: 0px;
	right: 0px;
/*	jQueryUi effect() modifies top.
	top: 0px;
	bottom: 0px;
*/
	height: 100%;
	overflow: auto;
}

/* Div that holds all key/value pair (n2se_entry) */
.n2se_entries {
}

/* Div that holds a key/value pair */
.n2se_entry {
/*	background-image: url("slideEditor/ui-bg_glass_95_fef1ec_1x400.png");
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: 50% 50%;*/
	background-color: #eee;
	border: 1px solid #ddd;
	/*border-radius: 4px 4px 4px 4px;*/
	padding:5px;
	margin-bottom:5px;
}
.n2se_entry:hover {
/*	background-image: url("slideEditor/ui-bg_glass_65_ffffff_1x400.png");
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: 50% 50%;*/
	background-color: #ffffff;
	-moz-box-shadow: 1px 1px 2px #b8b8b8;
	-webkit-box-shadow: 1px 1px 2px #b8b8b8;
	box-shadow: 1px 1px 2px #b8b8b8;
	border: 1px solid #9e9e9e;
}

/* Span used as a delete button */
.n2se_entry_delete {
	float: left;
	background-image: url("slideEditor/icons-18-white.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: -72px 50%;
	background-color: #444444; /* IE */
	border-radius: 9px 9px 9px 9px;
    padding: 18px 18px 0px 0px;
	margin: 8px 10px 0px 4px;
}
.n2se_entry_delete {
	background-color: rgba(0, 0, 0, 0.4); /* non-IE */
}
.n2se_entry_delete:hover {
	background-color: #222222; /* IE */
}
.n2se_entry_delete:hover {
	background-color: rgba(0, 0, 0, 0.6); /* non-IE */
}

/* Class added to delete button when it is disabled */
.n2se_entry_delete_disabled {
	visibility: hidden;
}

/* Span that holds a key in case of array. Input that holds key, in case of object */
.n2se_entry_key {
}
input.n2se_entry_key {
	width: 90px;
}
span.n2se_entry_key {
}

/* Span that holds the 'is' word */
.n2se_entry_is {
}

/* Select that holds the type of object held by key */
.n2se_entry_select {
}

/* Input that holds text */
input.n2se_entry_text {
	width: 250px;
}

/* Input that holds check box for boolean */
.n2se_entry_cb {
}

/* Span used as button to move forward */
.n2se_entry_forward {
	float: right;
	background-image: url("slideEditor/icons-18-white.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: -108px 50%;
	background-color: #444444; /* IE */
	border-radius: 9px 9px 9px 9px;
    padding: 18px 18px 0px 0px;
	margin-top: 8px;
	margin-right: 10px;
}
.n2se_entry_forward {
	background-color: rgba(0, 0, 0, 0.4); /* non-IE */
}
.n2se_entry_forward:hover {
	background-color: #222222; /* IE */
}
.n2se_entry_forward:hover {
	background-color: rgba(0, 0, 0, 0.6); /* non-IE */
}

/* Text area used to view large string */
.n2se_textarea {
	width: 50%;
	height: 50%;
}

/* div used to show add button */
.n2se_addbar {
	left: 1px;
	right: 1px;
/*	height: 25px;
	
	background-image: url("slideEditor/ui-bg_glass_75_dadada_1x400.png");
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: 50% 50%;
	background-color: #dadada;
	border: 1px solid #cacaca;
	border-radius: 4px 4px 4px 4px;
	
	font-family: Helvetica,Arial,sans-serif;
	font-weight: bold;
	text-decoration: none;*/
}
.n2se_addbar_addButton {
	display: inline-block;
	cursor: pointer;
	display: inline-block;
	cursor: pointer;
	padding: 10px 10px 10px 15px;
	text-decoration: none;
	margin-right: 3px;
	border: 1px solid #c3c1c1;
	background-color:#eee;
}
.n2se_addbar_addButton:hover {
	background-color: #e9e6e6;
	-moz-box-shadow: 1px 1px 2px #b8b8b8;
	-webkit-box-shadow: 1px 1px 2px #b8b8b8;
	box-shadow: 1px 1px 2px #b8b8b8;
	border: 1px solid #9e9e9e; 
	
}
.n2se_addbar_addButton > .n2se_btn {
	float: left;
	background-image: url("slideEditor/icons-18-white.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0px 50%;
	background-color: #444444; /* IE */
	border-radius: 9px 9px 9px 9px;
    padding: 18px 18px 0px 0px;
    margin: 1px 3px 0px 3px;
}
.n2se_addbar_addButton > .n2se_btn {
	background-color: rgba(0, 0, 0, 0.4); /* non-IE */
}
.n2se_addbar_addButton > .n2se_label {
    padding: 0px 5px 0px 5px;
}
