<!-- n2 attribute array -->
<div class="control-group">
  <span id="schema-attribute-type-label"><%- type.charAt(0).toUpperCase() + type.substr(1) %></span>
  <label class="control-label" for="<%- n2id %>"><%= label %></label>

  <div class="controls">
    <div class="input-append">
      <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <%- elementType %>
          <span class="caret"></span>
        </button>
      </div>

    </div>
  </div>
</div>
