<!-- n2_mandatory_part-->
<div class="control-group row-fluid">
  <label class="control-label" for="group"> GroupId_Id</label>
  <div class="controls row">
    <input id="group"
           class="span4 field"
	   name = "<%- 'group-'+id %>"
	   value="<%- group %>"
    	   type="info-input"
          n2id = "group"
	   placeholder="GroupId">
        <input id="id"
	   class="span4 field"
	   name = "<%- 'id-'+id %>"
    	   value="<%- n2id %>"
         n2id = "n2id"
    	   type="info-input"
	   placeholder="SchemaId">



</div>
  <label class="control-label" for="label">Label</label>
  <div class="controls row">
    <input id="label"
	   class="span8 field"
	   name="<%- 'label-'+id %>"
    	value="<%- label %>"
       n2id = "label"
    	type="info-input"
    />

  </div>
</div>


<div>
  <label class='control-label' for="initialLayers"> InitialLayers </label>
  <div class = "controls">
  <textarea class="span2 field" type="info-input-textarea" data-type="<%- type %>" style='min-height: 40px' n2id="initialLayers"><% for ( var i = 0; i < initialLayers.length ; i++ ) { %><%- initialLayers[i] %><% if (i < initialLayers.length - 1) { %><%- "\n" %><% } %><% } %></textarea>
</div>
</div>

<div>
  <label class='control-label' for="relatedSchemas"> RelatedSchemas </label>
  <div class = "controls">
  <textarea class="span2 field" type="info-input-textarea" data-type="<%- type %>" style='min-height: 40px' n2id="relatedSchemas"><% for ( var i = 0; i < relatedSchemas.length ; i++ ) { %><%- relatedSchemas[i] %><% if (i < relatedSchemas.length - 1) { %><%- "\n" %><% } %><% } %></textarea>
</div>
</div>
  <!-- attribute box -->

<legend class= "span5">Attributes</legend>
<br><br>
