<?xml version="1.0" encoding="UTF-8"?>
<web-app
	version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	>
	
	<display-name>Atlas based on Relations Table</display-name>

	<filter> 
		<filter-name>AuthAnonymousFilter</filter-name>
		<filter-class>ca.carleton.gcrc.auth.cookie.AuthFilter</filter-class>
		<init-param>
			<param-name>anonymous</param-name>
			<param-value>1</param-value>
		</init-param>        
		<init-param>
			<param-name>user</param-name>
			<param-value>1</param-value>
		</init-param>        
		<init-param>
			<param-name>admin</param-name>
			<param-value>1</param-value>
		</init-param>        
	</filter>
	
	<filter> 
		<filter-name>AuthAdminFilter</filter-name>
		<filter-class>ca.carleton.gcrc.auth.cookie.AuthFilter</filter-class>
		<init-param>
			<param-name>anonymous</param-name>
			<param-value>0</param-value>
		</init-param>        
		<init-param>
			<param-name>user</param-name>
			<param-value>0</param-value>
		</init-param>        
		<init-param>
			<param-name>admin</param-name>
			<param-value>1</param-value>
		</init-param>        
	</filter>

	<servlet>
	  <servlet-name>configServlet</servlet-name>
	  <servlet-class>ca.carleton.gcrc.relations.config.ConfigServlet</servlet-class>
	  <load-on-startup>20</load-on-startup>
	</servlet>

	<servlet>
	  <servlet-name>uploadServlet</servlet-name>
	  <servlet-class>ca.carleton.gcrc.upload.UploadServlet</servlet-class>
	  <load-on-startup>50</load-on-startup>
	</servlet>
	<servlet-mapping>
	  <servlet-name>uploadServlet</servlet-name>
	  <url-pattern>/upload/*</url-pattern>
	</servlet-mapping>
	<filter-mapping> 
		<filter-name>AuthAnonymousFilter</filter-name>
		<url-pattern>/upload/*</url-pattern> 
	</filter-mapping>	

	<servlet>
	  <servlet-name>progressServlet</servlet-name>
	  <servlet-class>ca.carleton.gcrc.progress.ProgressServlet</servlet-class>
	  <load-on-startup>30</load-on-startup>
	</servlet>
	<servlet-mapping>
	  <servlet-name>progressServlet</servlet-name>
	  <url-pattern>/progress/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
	  <servlet-name>jdbcJsonServlet</servlet-name>
	  <servlet-class>ca.carleton.gcrc.jdbcJson.JdbcDataAsJSONArray</servlet-class>
	  <load-on-startup>30</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jdbcJsonServlet</servlet-name>
		<url-pattern>/JdbcDataAsJSONArray</url-pattern>
	</servlet-mapping>

	<servlet>
	  <servlet-name>auth</servlet-name>
	  <servlet-class>ca.carleton.gcrc.auth.cookie.AuthServlet</servlet-class>
	  <load-on-startup>40</load-on-startup>
	</servlet>
	<servlet-mapping>
	  <servlet-name>auth</servlet-name>
	  <url-pattern>/auth/*</url-pattern>
	</servlet-mapping>

	<servlet>
	  <servlet-name>contributionServlet</servlet-name>
	  <servlet-class>ca.carleton.gcrc.contributions.ContributionServlet</servlet-class>
	  <load-on-startup>40</load-on-startup>
	</servlet>
	<servlet-mapping>
	  <servlet-name>contributionServlet</servlet-name>
	  <url-pattern>/contributions/*</url-pattern>
	</servlet-mapping>
	<filter-mapping> 
		<filter-name>AuthAdminFilter</filter-name>
		<url-pattern>/contributions/delete</url-pattern> 
	</filter-mapping>	

	<servlet>
	  <servlet-name>searchServlet</servlet-name>
	  <servlet-class>ca.carleton.gcrc.search.SearchServlet</servlet-class>
	  <load-on-startup>40</load-on-startup>
	</servlet>
	<servlet-mapping>
	  <servlet-name>searchServlet</servlet-name>
	  <url-pattern>/search/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
	  <servlet-name>dbWebServlet</servlet-name>
	  <servlet-class>ca.carleton.gcrc.dbWeb.DbWebServlet</servlet-class>
	  <load-on-startup>40</load-on-startup>
	</servlet>
	<servlet-mapping>
	  <servlet-name>dbWebServlet</servlet-name>
	  <url-pattern>/dbWeb/*</url-pattern>
	</servlet-mapping>
	<filter-mapping> 
		<filter-name>AuthAnonymousFilter</filter-name>
		<url-pattern>/dbWeb/*</url-pattern> 
	</filter-mapping>	
	<servlet>
		<servlet-name>adhocQueriesServlet</servlet-name>
		<servlet-class>ca.carleton.gcrc.AdhocQueries.AdhocQueriesServlet</servlet-class>
		<load-on-startup>40</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>adhocQueriesServlet</servlet-name>
		<url-pattern>/adhocQueries/*</url-pattern>
	</servlet-mapping>

   <servlet>
		<servlet-name>cometd</servlet-name>
		<servlet-class>org.cometd.server.continuation.ContinuationCometdServlet</servlet-class>
		<!-- init-param>
			<param-name>filters</param-name>
			<param-value>/WEB-INF/filters.json</param-value>
		</init-param -->
		<init-param>
			<!-- 
				The server long poll timeout in milliseconds (default 250000). 
				This is how long the server will hold a reconnect request
				before responding.
			-->
			<param-name>timeout</param-name>
			<param-value>250000</param-value>
		</init-param>
		<init-param>
			<!-- 
				The client side poll timeout in milliseconds (default 0). 
				How long a client will wait between long poll requests.
			-->
			<param-name>interval</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<!-- 
				The server side interval timeout in milliseconds (default 30000). 
				How long the server will wait between receiving long polls before removing a client.
			-->
			<param-name>maxInterval</param-name>
			<param-value>30000</param-value>
		</init-param>
		<init-param>
			<!-- 
				the client side poll timeout 
				if multiple connections are detected from the same browser (default 1500).
			-->
			<param-name>multiFrameInterval</param-name>
			<param-value>2000</param-value>
		</init-param>
		<init-param>
			<!-- 
				0=none, 1=info, 2=debug
			-->
			<param-name>logLevel</param-name>
			<param-value>0</param-value>
		</init-param>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>cometd</servlet-name>
		<url-pattern>/cometd/*</url-pattern>
	</servlet-mapping>
	<filter> 
		<filter-name>cometd filter</filter-name>
		<filter-class>org.eclipse.jetty.continuation.ContinuationFilter</filter-class>        
	</filter>
	<filter-mapping> 
		<filter-name>cometd filter</filter-name>
		<url-pattern>/cometd/*</url-pattern> 
	</filter-mapping>	
	
	<resource-ref>
		<description>
			Resource reference to a factory for java.sql.Connection
			instances that may be used for talking to a particular database that
			is configured in the server.xml file.
		</description>
		<res-ref-name>jdbc/default</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>