.nunaliit_atlas .layer-switcher {
    position: absolute;
    top: 4.5em;
    left: .5em;
    right: unset;
    text-align: left;
}

.nunaliit_atlas .layer-switcher button {
    background-position: 0;
    background-color: rgba(0,60,136,0.5);
    background-size: 19px 19px;
    width: 1.375em;
    height: 1.375em;
}