/*.olkitSearchMod2_0, .olkitSearchMod2_1 {
	background-color:#f7f7f7;
	margin:15px 10px;
	padding:10px;
	border-radius: 4px;
	border: 1px solid #AAA;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 85px inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 85px inset;
}*/

.olkit_tree_header {
	font-weight: bold;
}

ul.olkit_tree_ul {
    margin: 0;
    padding: 0;
}

.olkit_tree_ul li {
    background: url("list.gif") no-repeat scroll left center white;
    list-style-type: none;
    margin-bottom: 3px;
    padding-left: 22px;
}

.olkit_tree_ul li.olkit_tree_li {
    background: url("closed.gif") no-repeat scroll left 1px white;
    cursor: pointer !important;
}
.olkit_tree_ul li.olkit_tree_li ul {
    display: none;
}

.olkit_tree_ul .olkit_tree_li ul li {
    cursor: default;
}

div.n2display_document td.label {
	font-family: Georgia, serif;
	font-size: 100%;
	font-weight: normal;
	text-align: right;
	padding: 0px 5px 0px 0px;
	width: 30%;
	vertical-align: text-top;
}

div.n2display_document td.value {
	font-family: Geneva, Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-align: left;
	vertical-align: text-top;
}

td.placename_label {
	font-family: Georgia, serif;
	font-size: 100%;
	font-weight: normal;
	text-align: right;
	padding: 0px 5px 0px 0px;
	width: 30%;
	vertical-align: text-top;
}

td.placename_info {
	font-family: Geneva, Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-align: left;
	vertical-align: text-top;
}

div.contributionReply {
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 0px 8px;
	line-height: 20px;
	background: url(tree/node.png) repeat-y;
}

div.contributionReply:last-child { 
	background: url(tree/lastnode.png) no-repeat;
}

div.olkit_wait {
	background: url(images/wait_icon.gif) no-repeat;
	margin: 0px 0px 0px 0px; 
	padding: 32px 32px 0px 0px;
	width: 0px;
	height: 0px;
}

.n2MediaDisplayPhotosphere {
	width: 1000px;
	height: 500px;
}

.n2display_geometries_heading {
	background-color: #dddddd;
	font-weight: bold;
}

.n2Comment_button_addcomment_unavailable {
	display: none !important;
}