/*
 * Icons
 */
div.n2Show_icon_wrapper {
/*	font-family: Geneva, Helvetica, Arial, sans-serif; 
	font-size:   70%;
	text-align: center;*/
}

/* 26x26 icons */
div.n2Show_icon_audio, 
div.n2Show_icon_image, 
div.n2Show_icon_video, 
div.n2Show_icon_file,
div.n2Show_icon_speaker {
	display: block;
	width: 75px;
	height: 75px;
	margin: 10px auto;
	cursor: pointer;
}
div.n2Show_icon_audio {
	background: transparent url(images/lrg_image_speaker.png) no-repeat 0 0; 
}
div.n2Show_icon_video {
	background: transparent url(images/video_icon.png) no-repeat 0 0; 
}
div.n2Show_icon_image {
	background: transparent url(images/image_icon.png) no-repeat 0 0; 
}
div.n2Show_icon_file {
	background: transparent url(images/file_icon.png) no-repeat 0 0; 
}
div.n2Show_icon_speaker {
	background: transparent url(images/image_speaker.png) no-repeat; 
}
div.n2Show_icon_image:hover, 
div.n2Show_icon_video:hover, 
div.n2Show_icon_file:hover, 
div.n2Show_icon_audio:hover, 
div.n2Show_icon_speaker:hover {
	background-position: -75px 0;
}

.n2Show_docNotFound {
	color: #ff0000;
}

.n2show_findNotAvailable {
	display: none;
}

/* Document list */
.n2show_documentList_item a {
	text-decoration: none;
}
.n2show_documentList_item.nunaliit_hovered {
	background-color: #ccf;
}
.n2show_documentList_item.nunaliit_selected {
	font-weight: bold;
}

.n2Show_userName::before {
	content: '('
}

.n2Show_userName::after {
	content: ')'
}
