div.couchContributionSelect:hover {
	background-color: #ddddcc;
}

div.couchLookaheadDivider {
	position: relative;
	height: 0;
	bottom: 0;
}

div.couchLookahead {
	position: absolute;
	display: none;
	top: 0;
	z-index: 10;
	background-color: #ffffff;
	border: solid 1px #000000;
}

div.couchLookaheadLine:hover {
	background-color: #aaaaaa;
}

div.couchLookaheadLineEven {
	background-color: #dddddd;
}

.couchLookaheadTyped {
	font-weight: bold;
}

div.contributionFormTitle {
	font-weight: bold;
}

input.contributionTitle {
	width: 600px;
}

textarea.contributionDescription {
	width: 600px;
	height: 300px;
}

/*
 * Media
 */
div.contribution_media_icon_wrapper {
	font-family: Geneva, Helvetica, Arial, sans-serif; 
	font-size: 70%;
	float: right;
	text-align: center;
}
div.contribution_media_icon {
	display: block;
	width: 26px;
	height: 26px;
	margin: 0 auto;
}
div.contribution_audio_icon:hover,
div.contribution_video_icon:hover,
div.contribution_image_icon:hover {
	background-position: -26px 0;
}
div.contribution_audio_icon {
	background: transparent url(images/audio_icon.png) no-repeat; 
}
div.contribution_video_icon {
	background: transparent url(images/video_icon.png) no-repeat; 
}
div.contribution_image_icon {
	background: transparent url(images/image_icon.png) no-repeat; 
}
