/* Following definitions are for n2.couchEdit */

/* DIV that holds editor accordion */
.n2_display_format_tiled .n2CouchEditor_container {
	padding: 15px 20px;
	width: 600px;
}

/* Remove extra white space in accordion */
div.n2CouchEditor_container .ui-accordion-content {
	padding: 0 0 0 0;
}

/* Hide portion of the 'add file' form that should not
   appear during the dialog */
.editorAddFileDialog .editorAddFileFormEditorLine {
	display: none;
}


/* Hide portion of the 'add file' form that should not
   appear when form is attached to editor */
.editorAttachFile .editorAddFileFormDialogLine {
	display: none;
}

.editorSelectDocumentDialogResults {
	overflow: auto;
	max-height: 400px;
}

/* Attachment Editor */
.attachmentEditor_att form.attachmentEditor_form input {
	display: none;
}

.attachmentEditor_label {
	padding-right: 3px;
}

.attachmentEditor_delete {
	padding-left: 3px;
}

/* Related Doc */
.n2RelatedDoc_dialog .attachmentEditor_label {
	display: none;
}