.n2TableCanvas {
	overflow: auto;
	padding: 10px;
}

.n2TableCanvas td,
.n2TableCanvas th {
	border: 1px solid #000000;
	white-space: pre-line;
}

.n2TableCanvas td.n2TableCanvas_lazyDisplay {
	height: 10px;
}

/* Table Row Counter */
.n2TableCanvas .n2TableCanvasRowCounter {
	display: inline;
	border: 1px solid #999999;
	border-radius: 2px;
	margin: 9px 5px 9px 0px;
	padding: 2px 5px;
}

.n2TableCanvas .nunaliit-sort-asc-1 a::after {
	content: " \25bc";
}

.n2TableCanvas .nunaliit-sort-desc-1 a::after {
	content: " \25b2";
}

