
.n2_documentDisplay .label {
	font-weight: bold;
}

.n2_documentDisplay .n2_layoutFloat div.label {
	margin-top: 16px;
} 

.n2_documentForm .n2_layoutFloat div.value {
	margin: 16px 0px;
}

.n2_documentForm .n2_layoutFloat input[type="checkbox"] {
	width: auto;
}

.n2_documentForm .n2_layoutFloat textarea {
	height: 200px;
}
