/*! n2.layout.css */

/* ==========================================================================
   - Base layout styles for Nunaliit demo atlas
   - Styles for major layout sections
   ========================================================================== */

/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

/* Specific layout styles for Nunaliit Atlas */

.nunaliit_atlas .nunaliit_header,
.nunaliit_atlas .nunaliit_footer {
	position: absolute;
	left: 0;
	width: 100%;
	overflow: visible;
	margin: 0;
	border: 0;	
	padding: 0;
	z-index: 9;
}
.nunaliit_atlas .nunaliit_header {
	top: 0;
	height: 102px;
}
.nunaliit_atlas .nunaliit_footer {
	bottom: 0;
	height: 17px;
}
.nunaliit_atlas .nunaliit_header_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 71px;
}
.nunaliit_atlas .nunaliit_module_title {
	position: absolute;
	top: 71px;
	left: 0;
	width: 100%;
	height: 30px;
}
.nunaliit_atlas .nunaliit_content {
	position: absolute;
	width: 100%;
}

/* ==============================
   LEGACY CONTENT SECTION
   This is important to keep for HTML
   implementation that defines the content
   explicitely. This has to do with atlas
   created prior to 2.1.2
   ============================== */

/* Main Map */
.nunaliit_map {
	position: absolute;
	top: 0;
	left: 0;
	right: 450px;
	bottom: 0;
	border: 0;
	margin: 0;
}

/* Search */
.nunaliit_searchInput {
	position: absolute;
	right: 0;
	top: 0;
	height: 43px;
	width: 410px;
	bottom: 20px;
	overflow: visible;
	z-index: 8;
}
.nunaliit_searchInput input {
	padding: 2.5%;
	width: 95%;
}

/* Side Bar */
.nunaliit_side {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 410px;
	padding: 115px 20px 15px 20px;
	overflow: auto;
}

/* Map Interactions */
.map_interaction {
	position: absolute;
	top: 33px;
	right: 468px;
	text-align: right;
	padding: 0;
	margin: 0;
	border: 0;
	z-index: 8;
}
.map_interaction input { 
	cursor: pointer;
}

/* ==============================
   CONTENT SECTION
   This section has to do with content
   defined at run-time 
   ============================== */

/* Main Map */
.n2_content_map {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	border: 0;
	margin: 0;
}
.n2_content_contains_text .n2_content_map {
	right: 450px;
}
.n2_content_contains_no_text .n2_content_map {
	right: 0;
}
.n2_display_format_tiled .n2_content_contains_text .n2_content_map {
	right: 640px;
}

/* Search */
.n2_content_contains_map .n2_content_searchInput {
	position: absolute;
	top: 0;
	right: 0;
	height: 43px;
	width: 410px;
	padding: 28px 20px 23px;
	overflow: visible;
	z-index: 8;
}
.n2_content_contains_no_map .n2_content_searchInput {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 43px;
	width: auto;
	overflow: visible;
	z-index: 8;
}
.n2_display_format_tiled .nunaliit_content .n2_content_searchInput {
	width: 600px;
}
.n2_content_searchInput input {
	padding: 2.5%;
	width: 95%;
}

/* Side Bar */
.n2_content_text {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	padding: 15px 20px;
}
.n2_content_contains_search .n2_content_text {
	top: 95px;
}
.n2_content_contains_map .n2_content_text {
	left: auto;
	right: 0;
	width: 410px;
	overflow: auto;
}
.n2_display_format_tiled .n2_content_contains_map .n2_content_text {
	left: auto;
	right: 0;
	width: 640px;
	padding: 0;
	overflow: hidden auto;
}
.n2_display_format_tiled .n2_content_contains_search .n2_content_text {
	top: 95px;
}

/* Map Interactions */
.n2_content_map_interaction {
	position: absolute;
	top: 33px;
	right: 468px;
	text-align: right;
	padding: 0;
	margin: 0;
	border: 0;
	z-index: 8;
}
.n2_content_map_interaction input { 
	cursor: pointer;
}
.n2_display_format_tiled .n2_content_map_interaction {
	right: 650px;
}

/*
	Common layout
*/
.nunaliit_language_iu .olControlEditingToolbar {
    right: 20%;
}

.olControlEditingToolbar {
	position: absolute;
	right: 185px;
	top: 33px;
}
.n2_display_format_tiled  .olControlEditingToolbar {
	right: 260px;
}

/* Smaller screens */
@media only screen and (max-width: 1023px) {

}

/* Mobile */
@media handheld, only screen and (max-width: 767px) {

}

/* Cordova mobile builds */
.cordova-dialog-btn {
	color: #2985b8;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px;  
}

.cordova-button-container {
	margin-top: 40px;
	text-align: right;
}

.cordova-select-dropdown {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid lightgrey;
	padding-top: 4px;
	outline: none;
}