

.results { 
	clear:both; padding: 10px 0px 0px 0px; 
}


.newDocumentInputs { 
	float:right; padding: 0px 10px 0px 0px; 
}

.interaction_control_label {
	float: right;
	padding: 2px 0px 0px;
}

.interaction_control_selector {
	float:right;
}

#searchLookAhead {
	position: absolute;
	top: 50px;
	right: 188px;
	overflow: hidden;
	width: 250px;
	z-index: 10;
	background-color: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #000;
	display: none;
}

#searchLookAhead span {
	cursor: pointer;
}

#searchLookAhead .offered {
	font-weight: bold;
}

#searchLookAhead div.kill {
	display: inline-block;
	float: right;
	width: 16px;
	height: 16px;
	margin: 0px;	
	padding: 0px;
	border: none;
	background: url(tree/icons.png) no-repeat;
	background-position: -32px 0px;
}

#searchLookAhead div.kill:hover {
	background-position: -48px 0px;
}


#side_attrib table, .n2MediaDisplayDialog table {
	border: 0px;
}

#side_attrib table.attrib_header, .n2MediaDisplayDialog table.attrib_header {
	border-width: 0px;
	width: 100%;
}

#side_attrib tr.attrib_header, .n2MediaDisplayDialog tr.attrib_header {
	vertical-align: top;
	font-weight: bold;
	font-family: Georgia, serif;
}

#side_attrib td.label, .n2MediaDisplayDialog td.label {
	font-family: Georgia, serif;
	font-size: 100%;
	font-weight: normal;
	text-align: right;
	padding: 0px 5px 0px 0px;
	width: 30%;
	vertical-align: text-top;
}

#side_attrib td.info, .n2MediaDisplayDialog td.info {
	font-family: Geneva, Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-align: left;
	vertical-align: text-top;
}

#side_contrib table.contrib_header {
	font-family: Georgia, serif;
	margin: 10px 0px 0px 0px;
	border-width: 0px;
	width: 100%;
}

#side_contrib tr.contrib_header {
	margin: 0px;
	vertical-align: top;
	font-weight: bold;
}

#side_contrib table.contrib {
	border-collapse: collapse;
	width: 100%;
}

#side_contrib tr.contrib {
	vertical-align: top;
	font-family: Geneva, Helvetica, Arial, sans-serif;
}

#side_contrib td.contrib_entry_left {
	width: 10%;
}
#side_contrib td.contrib_entry_right {
	width: 90%;
	padding: 0px 0px 0px 2px;
}
#side_contrib td.contrib_entry_fullwidth {
	width: 100%;
	padding: 0px 0px 0px 2px;
}

#side_contrib td.contrib_entry_solid_top_border {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #777777;
}
#side_contrib td.contrib_entry_dashed_top_border {
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #777777;
}
#side_contrib td.contrib_entry_solid_bottom_border {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: #777777;
}
#side_contrib td.contrib_entry_dashed_bottom_border {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-top-color: #777777;
}
#side_contrib td.contrib_entry_center_marker {
	vertical-align: middle;
	text-align: center;
}

#side_contrib p.contrib_entry_title {
	font-family: Georgia, serif;
	font-style: italic;
	float:       left;
}
#side_contrib p.contrib_entry_contributor {
	font-family: Georgia, serif; 
	font-size:   85%;
	float: left;
	padding: 2px 0px 0px 5px;
}
#side_contrib .contrib_entry_contributor_unknown {
	color: #ff0000;
}
#side_contrib .contrib_entry_contributor_guest {
	color: #ff0000;
}
#side_contrib .contrib_entry_contributor_name {
	font-weight: bold;
}
#side_contrib p.contrib_entry_createTS {
	font-family: Geneva, Helvetica, Arial, sans-serif; 
	font-size:   70%;
	clear: left;
	padding: 0px 0px 0px 10px;
}
#side_contrib div.contrib_entry_place_icon {
	float:   right;
	display: block;
	width: 26px;
	height: 26px;
	background: transparent url(images/place_icon.png) no-repeat; 
}
#side_contrib div.contrib_entry_place_icon:hover {
	background-position: -26px 0;
}
#side_contrib div.contrib_entry_info_icon {
	float:   right;
	display: block;
	width: 26px;
	height: 26px;
	background: transparent url(images/contrib_info_icon.png) no-repeat; 
}
#side_contrib div.contrib_entry_info_icon:hover {
	background-position: -26px 0;
}
#side_contrib div.contrib_entry_media_icon_wrapper {
	font-family: Geneva, Helvetica, Arial, sans-serif; 
	font-size:   70%;
	float: right;
	text-align: center;
}
#side_contrib div.contrib_entry_media_icon {
	display: block;
	width: 26px;
	height: 26px;
	margin: 0 auto;
}
#side_contrib div.contrib_entry_audio_icon {
	background: transparent url(images/audio_icon.png) no-repeat; 
}
#side_contrib div.contrib_entry_audio_icon:hover {
	background-position: -26px 0;
}
#side_contrib div.contrib_entry_video_icon {
	background: transparent url(images/video_icon.png) no-repeat; 
}
#side_contrib div.contrib_entry_video_icon:hover {
	background-position: -26px 0;
}
#side_contrib div.contrib_entry_image_icon {
	background: transparent url(images/image_icon.png) no-repeat; 
}
#side_contrib div.contrib_entry_image_icon:hover {
	background-position: -26px 0;
}
#side_contrib div.contrib_entry_link_group {
	clear: left;
	float: left;
}
#side_contrib a.contrib_entry_link {
	padding: 5px 0px 0px 10px;
	font-size: 75%;
	color: #2F4F4F;
	cursor: default;
}
#side_contrib a.contrib_entry_link:hover {
	color: #8B0000;
}
#side_contrib p.contrib_entry_comment {
	font-family: Geneva, Helvetica, Arial, sans-serif; 
	font-size:   85%;
	clear: left;
}

#side_contrib p.contrib_entry_embeddedAudio {
	padding: 5px 0px 0px 0px;
	text-align: center;
}

#side_contrib p.contrib_entry_last_edit {
	font-family: Geneva, Helvetica, Arial, sans-serif; 
	font-size:   70%;
	clear: left;
	padding: 5px 0px 0px 0px;
}

#side_contrib input, #side_contrib p {
	font-family: Geneva, Helvetica, Arial, sans-serif;
}

#controlToggle li {
    list-style: none;
}

#count {
	vertical-align:60%;
	margin-left:15px;
	color: white;
}

.jqmContributions_instructions, .jqmEditAttributes_instructions { /* defined according to jqmWindow */
	margin: 0px 5px 10px 5px;
	vertical-align: top;
}

.jqmContributions_input_heading {
	margin: 0px 5px 10px 5px;
	vertical-align: top;
	display: inline-block;
	width: 90px;
}

.jqmContributions_input_heading_2nd_on_line {
	margin: 0px 5px 10px 5px;
	vertical-align: top;
	display: inline-block;
	width: 75px;
}

.jqmContributions_input{
	margin: 0px 5px 10px 5px;
	vertical-align: top;
}

div.olkitAttrForm {
	overflow: auto;
}

.olkitAttrFormFeatureInstructions {
}

div.olkitAttrFormFeatureAttributes {
	margin: 0px 5px 10px 5px;
}

div.olkitAttrFormFeatureAttributes ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0px 5px 10px 5px;
}

div.olkitAttrFormFeatureAttributes li {
	margin: 2px 10px 0px 5px;
}

div.olkitAttrFormFeatureAttributes label {
	vertical-align: bottom;
	display: inline-block;
	width: 90px;
}

div.olkitAttrFormFeatureAttributes input, jqmEditAttributes_input {
	vertical-align: bottom;
	display: inline-block;
	width: 65%;
}

div.olkitAttrFormFeatureAttributes input.dbWebFormSelectButton {
	width: 35px;
}

table.mediaSelection {
}

table.mediaSelection tr {
}

table.mediaSelection tr:hover {
	background-color: #ffffff;
}

table.mediaSelection td {
	border: solid #000000 1px;
}


/*
	Workaround problem in OpenLayers CSS (http://trac.openlayers.org/ticket/2183)
*/
.olControlEditingToolbar .olControlMoveFeatureItemInactive { 
  background-position: 0px 0px; 
}
.olControlEditingToolbar .olControlMoveFeatureItemActive { 
  background-position: 0px -23px ;                                                                   
}

/*
 * override some defaults for jquery ui datepicker
 */
#ui-datepicker-div {
	z-index: 9999999;
}
.ui-datepicker .ui-datepicker-header {
	font-size: 0.75em;
	padding: 0.1em 0;
}
.ui-datepicker table {
	font-size: 0.75em;
	margin: 0 0 0.2em;
}
.ui-datepicker th {
	padding: 0.4em 0.1em;
}

.olkitDisabled {
	color: #cccccc;
}

.olPopupContent {
	max-width: 250px;
	overflow: visible;
}

/* Fix spurious copyright pop-up */
.olLayerGooglePoweredBy, .gmnoprint, .gm-style-cc {
	visibility: hidden;
}
