/*
.olControlLayerSwitcher {
	left: 28px !important;
	top: 90px !important;
}

.olControlLayerSwitcher .maximizeDiv, .olControlLayerSwitcher .minimizeDiv {
	width: 29px !important;
	height: 29px !important;
	background-image: url('openlayers/settings_icon.png') !important;
}
 
#OpenLayers_Control_MaximizeDiv img {
	display:none !important;
}

.olControlLayerSwitcher .maximizeDiv, .olControlLayerSwitcher .minimizeDiv {
	left: -12px !important;
	top: 15px !important;
}

#OpenLayers_Control_MinimizeDiv_innerImage {
	display:none;
}

.olControlLayerSwitcher .layersDiv {
	background: url('openlayers/popup_bg.png') no-repeat top left !important;
	margin-top: 16px !important;
	-moz-border-radius: 4px;
	padding:11px 20px !important;
	margin-left: 21px !important;
	
}

div.olControlZoom {
	top: 50px !important;
	left: 20px !important;
}

div.olControlZoom a { 
	background: rgba(0, 0, 0, 0.7) !important;
}	
*/
/*.olControlEditingToolbar {
	position: absolute;
	right: 350px;
}*/

/*.olControlEditingToolbar div {
	float: left;
}

div.olControlMousePosition {
	right: 25px;
	background: rgba(255, 255, 255, 0.7) !important;
}*/

.olControlAttribution {
	background-color: rgba(255,255,255,0.7);
	padding: 2px;
	bottom: 0;
	right: 125px;
}

.olControlMousePosition {
	bottom: 0;
	right: 0 !important;
	padding: 2px;
	background: rgba(255, 255, 255, 0.7);
}

.olControlScaleLine {
	background-color: rgba(255,255,255,0.7);
	padding: 2px 5px;
	bottom: 18px;
	right: 0;
	left: auto;
}
