.layer-switcher.shown.ol-control {
    background-color: transparent;
}

.layer-switcher.shown.ol-control:hover {
    background-color: transparent;
}

.layer-switcher {
    position: absolute;
    top: 3.5em;
    right: 0.5em;
    text-align: left;
}

.layer-switcher.shown {
    bottom: 3em;
}

.layer-switcher .panel {
    padding: 0 1em 0 0;
    margin: 0;
    border: 4px solid #eee;
    border-radius: 4px;
    background-color: white;
    display: none;
    max-height: 100%;
    overflow-y: auto;
}

.layer-switcher.shown .panel {
    display: block;
}

.layer-switcher button {
    float: right;
    width: 38px;
    height: 38px;
    background-image: url('openlayers/settings_icon.png') /*logo.png*/;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
}

.layer-switcher.shown button {
    display: none;
}

.layer-switcher button:focus, .layer-switcher button:hover {
    background-color: white;
}

.layer-switcher ul {
    padding-left: 1em;
    list-style: none;
}

.layer-switcher li.group {
    padding-top: 5px;
}

.layer-switcher li.group > label {
    font-weight: bold;
}

.layer-switcher li.layer {
    display: table;
}

.layer-switcher li.layer label, .layer-switcher li.layer input {
    display: table-cell;
    vertical-align: sub;
}

.layer-switcher label.disabled {
    opacity:0.4;
}

.layer-switcher input {
    margin: 4px;
}

.layer-switcher.touch ::-webkit-scrollbar {
    width: 4px;
}

.layer-switcher.touch ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.layer-switcher.touch ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.ol-attribution {
	bottom: 6.5em;
	transition: .3s;
}

.noimg .ol-attribution {
	bottom: 0.5em;
}

.ol-timeline img {
	max-height: 2.2em;
	float: left;
	margin: .1em .5em .1em .1em
}