/*
	This portion of the CSS deals with the schema display
*/

.n2_localize_fallback {
	font-style: italic;	
}

.n2_localize_fallback_lang {
	color: #ff7777;	
}

.n2schema_array_item {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}

.n2_tag_element {
	border-radius: 9999px;
    align-items: center;
    background-color: #f5f5f5;
    color: #2c2c2c;
    display: inline-flex;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
	margin-bottom: 0.1em;
    white-space: nowrap;
}

.n2schema_taginput_container {
	-webkit-appearance: none;
    border: 1px solid transparent;
    display: inline-flex;
    font-size: 1rem;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
    box-shadow: inset 0 0.0625em 0.125em hsl(0deg 0% 4% / 5%);
    max-width: 100%;
    width: 100%;
    padding: calc(0.275em - 1px) 0 0;
    cursor: text;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: auto;
}

.n2schema_taginput_container>.n2_tag_element {
    margin-left: 0.275rem;
    margin-bottom: calc(0.275em - 1px);
    height: calc(2em - 1px);
}

.n2schema_taginput_container input.n2schema_input {
    font-family: inherit;
	width: 60%;
	min-width: 8em;
	height: calc(2em - 1px);
    margin-bottom: calc(0.275em - 1px);
    padding-top: 0;
    padding-bottom: 0;
    border: none;
	border-bottom: 1px solid #b6b6b6;
    box-shadow: none;
}

.n2schema_tag_item_delete {
	cursor: pointer;
	margin-left: 0.15em;
	font-size: 1.3em;
    color: #6c6c6c;
}

.n2schema_tag_item_delete:hover {
	color: #000;
}

.n2schema_array_add, .n2schema_array_item_delete, .n2schema_array_item_down, .n2schema_array_item_up {
	width: 16px;
	height: 16px;
	margin: 0px;	
	padding: 0px;
	border: none;
}

.n2schema_array_item:nth-child(1) .n2schema_array_item_up,
.n2schema_array_item:nth-last-child(2) .n2schema_array_item_down {
	display: none;
}

.n2schema_array_add {
	display: inline-block;
	background: url(tree/icons.png) no-repeat;
	background-position: 0px 0px;
	float: right;
}

.n2schema_array_add:hover {
	background-position: -16px 0px;
}

.n2schema_array_item_buttons {
	display: flex;
	flex-direction: column;
}

.n2schema_array_item_delete {
	background: url(tree/icons.png) no-repeat;
	background-position: -160px 0px;
}

.n2schema_array_item_delete:hover {
	background-position: -176px 0px;
}

.n2schema_array_item_down {
	background: url(tree/icons.png) no-repeat;
	background-position: -96px 0px;
}

.n2schema_array_item_down:hover {
	background-position: -112px 0px;
}

.n2schema_array_item_up {
	background: url(tree/icons.png) no-repeat;
	background-position: -64px 0px;
}

.n2schema_array_item_up:hover {
	background-position: -80px 0px;
}

.n2schema_array_item_wrapper {
	margin-right: 16px;
	width: 100%;
}

.n2schema_referenceDelete {
	display: inline-block;
	width: 0px;
	height: 0px;
	padding: 15px 15px 0px 0px;
	background: url(images/x_icon_naked_15.png) no-repeat;
}

.n2schema_referenceDelete:hover,
.n2schema_help_date:hover,
.n2schema_help_wiki:hover {
	background-position: -15px 0px;
}

.n2schema_help_date {
	display: inline-block;
	width: 0px;
	height: 0px;
	padding: 15px 15px 0px 0px;
	background: url(images/question_icon_naked_15.png) no-repeat;
}

.n2schema_field_container {
	position: relative;
}

.n2schema_help_wiki {
	position:absolute;
	top: 17px;
	right: 7px;
	width: 0;
	height: 0;
	margin: 0;
	border: 0;
	padding: 15px 15px 0px 0px;
	background: url(images/question_icon_naked_15.png) no-repeat;
}

.n2help_content {
	max-width: 500px;
}

.n2_triple_element {
	display: flex;
    flex-direction: column;
}

.n2_documentForm .n2_triple_element {
	gap: 8px;
}

.n2_triple_element .subject,
.predicate, .object {
	display: flex;
	flex-direction: column;
}