/*
	This portion of the CSS deals with the schema display
*/

.n2_localize_fallback {
	font-style: italic;	
}

.n2_localize_fallback_lang {
	color: #ff7777;	
}

.n2schema_array_item {
	position: relative;
	min-height: 58px;
}

.n2schema_array_add, .n2schema_array_item_delete, .n2schema_array_item_down, .n2schema_array_item_up {
	width: 16px;
	height: 16px;
	margin: 0px;	
	padding: 0px;
	border: none;
}

.n2schema_array_item:nth-child(1) .n2schema_array_item_up,
.n2schema_array_item:nth-last-child(2) .n2schema_array_item_down {
	display: none;
}

.n2schema_array_add {
	display: inline-block;
	background: url(tree/icons.png) no-repeat;
	background-position: 0px 0px;
	float: right;
}

.n2schema_array_add:hover {
	background-position: -16px 0px;
}

.n2schema_array_item_buttons {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 16px;
	z-index: 1;
}

.n2schema_array_item_delete {
	background: url(tree/icons.png) no-repeat;
	background-position: -160px 0px;
}

.n2schema_array_item_delete:hover {
	background-position: -176px 0px;
}

.n2schema_array_item_down {
	background: url(tree/icons.png) no-repeat;
	background-position: -96px 0px;
}

.n2schema_array_item_down:hover {
	background-position: -112px 0px;
}

.n2schema_array_item_up {
	background: url(tree/icons.png) no-repeat;
	background-position: -64px 0px;
}

.n2schema_array_item_up:hover {
	background-position: -80px 0px;
}

.n2schema_array_item_wrapper {
	margin-right: 16px;
}

.n2schema_referenceDelete {
	display: inline-block;
	width: 0px;
	height: 0px;
	padding: 15px 15px 0px 0px;
	background: url(images/x_icon_naked_15.png) no-repeat;
}

.n2schema_referenceDelete:hover,
.n2schema_help_date:hover,
.n2schema_help_wiki:hover {
	background-position: -15px 0px;
}

.n2schema_help_date {
	display: inline-block;
	width: 0px;
	height: 0px;
	padding: 15px 15px 0px 0px;
	background: url(images/question_icon_naked_15.png) no-repeat;
}

.n2schema_field_container {
	position: relative;
}

.n2schema_help_wiki {
	position:absolute;
	top: 17px;
	right: 7px;
	width: 0;
	height: 0;
	margin: 0;
	border: 0;
	padding: 15px 15px 0px 0px;
	background: url(images/question_icon_naked_15.png) no-repeat;
}

.n2help_content {
	max-width: 500px;
}
