/*
	This portion of the CSS deals with the timeline date marks
*/
.TimelineDateMarks_wrapper {
	position: relative;
	margin: 0px;
	float: left;
	width: 100%;
	height: 1.5em;
}
.TimelineDateMarks_label {
	position: absolute;
	top: 0;
	margin: 0;
	color: #000000;
	font-weight: normal;
	font-size: 1em;
}
.TimelineDateMarks_labelTick {
	position: absolute;
	top: 0.25em;
	margin: 0;
	color: #000000;
	font-weight: normal;
}
.TimelineDateMarks_labelTick_small {
	font-size: 0.5em;
}
.TimelineDateMarks_labelTick_large {
	font-size: 0.75em;
}
