/*
	Login
*/
.nunaliit_application .nunaliit_login {
	position: absolute;
	display: table-row;
	top: 0;
	right: 0px;
	height: 40px;
	overflow: hidden;
	z-index: 10;
}
.nunaliit_application .nunaliit_login_link_outer_container {
	display: table-cell;
	vertical-align: middle;
	height: 40px;
}
.nunaliit_application .nunaliit_login_link_inner_container {
	display: inline;
}
.nunaliit_application .nunaliit_login_link {
	padding: 10px 10px 10px 15px;
	text-decoration: none;
	margin-right: 3px;
	font-weight: normal;
	color: #000;
}

/* .nunaliit_application a.nunaliit_login_link:hover {
	background-color: #e9e6e6;
	-moz-box-shadow: 1px 1px 2px #b8b8b8;
	-webkit-box-shadow: 1px 1px 2px #b8b8b8;
	box-shadow: 1px 1px 2px #b8b8b8;
	border: 1px solid #9e9e9e;
} */

.nunaliit_application .nunaliit_login_greeting_outer_container {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	height: 40px;
}
.nunaliit_application .nunaliit_login_greeting_inner_container {
	display: inline;
	padding-right: 10px;
}
