/*! n2.theme.css */

/* ==========================================================================
   - Theme styles for nunaliit demo atlas (Fonts, colors, images, textures etc)
   ========================================================================== */


/*START - Form Styles*/
input[type="text"], input[type="password"], textarea { 
	border: 1px solid #cccccc; 
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); 
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); 
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); 
	color: rgba(0, 0, 0, 0.75); 
	padding: 8px;
}


/* Desktop screens */

/* ============================== */
/* ! HEADER SECTION   */
/* ============================== */

/* Header Title */
.nunaliit_atlas .nunaliit_header {
	border-bottom: 1px solid  rgba(255,255,255,1);
	background-color: {{header.background}};
	-moz-box-shadow: 0 3px 8px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.5);
	box-shadow: 0 3px 8px rgba(0,0,0,0.5);
	color: {{header.color}};
}
.nunaliit_atlas .nunaliit_header input {
	color: {{header.color}};
}
.nunaliit_atlas .nunaliit_header input:disabled {
	color: #ccc;
}
.nunaliit_atlas .nunaliit_title {
	font-size: 2.2em;
	font-weight:500;
	text-shadow: black 1px 1px 1px;
	color:{{header.color}};
}
.nunaliit_atlas .nunaliit_title_link {
	color:{{header.color}};
}
.nunaliit_atlas .nunaliit_title_link:hover {
	text-decoration:none;
}

/* Sub-Header Title */
.nunaliit_atlas .nunaliit_module_title {
	background-color: {{header.background.module}};
	border-top: 1px solid {{header.border.color.module}};
	color:{{header.color}};
}

.nunaliit_atlas .nunaliit_module_title_item {
	display: inline-block;
	padding: 8px 20px;
}

.nunaliit_atlas .nunaliit_module_title_link {
	color:{{header.color}};
}

.nunaliit_atlas .nunaliit_module_title_link:hover {
	text-decoration:none;
}

/* Header Menu */

.nunaliit_atlas .nunaliit_header-nav a,
.nunaliit_atlas .nunaliit_header-nav a:visited,
.nunaliit_atlas .nunaliit_header-nav span {
	color: {{header.color}};
}
.nunaliit_atlas .nunaliit_header-nav li {
	background-color: {{header.background}};
	border-left: 1px solid {{header.border.color}};
	border-right: 1px solid {{header.border.color}};
	border-bottom:1px solid {{header.border.color}};
}
.nunaliit_atlas .nunaliit_header-nav li:hover {
	background-color:{{header.background.hover}};
}
.nunaliit_atlas .nunaliit_header-nav li:hover ul li:first-child {
	border-left: 1px solid rgba(0,0,0,0.9);
}
.nunaliit_atlas .nunaliit_header-nav>ul {
	background-color: transparent;
}
.nunaliit_atlas .nunaliit_header-nav>ul>li {
	position: relative;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
	padding: 0 20px;
	margin:0 0 0 -1px;
	background-color: {{header.background.button}};
	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
	box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
	height: 100%;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	border-bottom:0;
}
.nunaliit_atlas .nunaliit_header-nav li.n2_nav_currentModule {
	background-color: {{header.background.selected}};
}
.nunaliit_atlas .nunaliit_header-nav ul>li>a:hover {
	background-color:{{header.background.hover}};
	border-right:0;
}
.nunaliit_atlas .nunaliit_header-nav>ul>li:hover>ul>li:first-child {
	border-left: 1px solid rgba(255,255,255,0.6);
}
.nunaliit_atlas .nunaliit_header-nav>ul>li>a,
.nunaliit_atlas .nunaliit_header-nav>ul>li>span {
	font-weight: normal;
	display:block;
	text-decoration: none;
	color: {{header.color}};
	line-height: 0;
	position: relative;
	top: 35px;	
	padding:0;
}
.nunaliit_atlas .nunaliit_header-nav>ul>li>ul>li, .nunaliit_atlas .nunaliit_header-nav>ul>li>ul>li:hover {
	/* background-image: url('../images/left-arrow.png'); */
	background-repeat: no-repeat;
	background-position: center right;
}
.nunaliit_atlas .nunaliit_header-nav>ul>li>ul>li>a:hover {
	cursor: default;
	text-decoration:none;
}
.nunaliit_atlas .nunaliit_header-nav>ul>li>a {
	margin-right:-1px;
}


/* Login (within nunaliit_header_container) */
.nunaliit_atlas .nunaliit_header_container .nunaliit_login {
	position:absolute;
	display: table-row;
	top:0;
	right:20px;
	height:71px;
	overflow: hidden;
	z-index:10;
}	
.nunaliit_atlas .nunaliit_header_container .nunaliit_login_link_outer_container {
	display: table-cell;
	vertical-align: middle;
	height:71px;
	width: 36px;
	border-left: 1px solid {{header.border.button.color}};
	border-right: 1px solid {{header.border.button.color}};
	padding:0 20px;
	background-color:{{header.background.button}};
	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
	box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
}
.nunaliit_atlas .nunaliit_header_container .nunaliit_login_link_outer_container:hover {
	background-color:{{header.background.hover}};
}
.nunaliit_atlas .nunaliit_header_container .nunaliit_login_link_inner_container {
	display: inline;
}
.nunaliit_atlas .nunaliit_header_container .nunaliit_login_link {
	text-decoration: none;
	color: {{header.color}};
}
.nunaliit_atlas .nunaliit_header_container .nunaliit_login_greeting_outer_container {
	display: table-cell;
	vertical-align: middle;
	height:70px;
	padding:0 20px;
}
.nunaliit_atlas .nunaliit_header_container .nunaliit_login_greeting_inner_container {
	display: inline;
	color: {{header.color}};
}

.nunaliit_login_greeting_with_editor {
	cursor: pointer;
}

/* Login (within nunaliit_module_title) */
.nunaliit_atlas .nunaliit_module_title .nunaliit_login {
	display: none;
	float:right;
}	
.nunaliit_atlas .nunaliit_module_title .nunaliit_login_link_outer_container {
	padding: 8px 20px;
}
.nunaliit_atlas .nunaliit_module_title .nunaliit_login_link_outer_container:hover {
}
.nunaliit_atlas .nunaliit_module_title .nunaliit_login_link_inner_container {
}
.nunaliit_atlas .nunaliit_module_title .nunaliit_login_link {
	color: {{header.color}};
	text-decoration: none;
}
.nunaliit_atlas .nunaliit_module_title .nunaliit_login_greeting_outer_container {
	display:none;
}
.nunaliit_atlas .nunaliit_module_title .nunaliit_login_greeting_inner_container {
}

/*
Language Switcher
*/
.nunaliit_atlas .nunaliit_header_language {
	float: right;
	padding: 8px 20px;
}
.nunaliit_atlas .nunaliit_header_language a
,.nunaliit_atlas .nunaliit_header_language a:visited {
	color: {{header.color}};
	text-decoration: none;
}

/*
Help Button
*/
.nunaliit_atlas .nunaliit_help_button {
	float: right;
	padding: 8px 20px;
}
.nunaliit_atlas .nunaliit_help_button a
,.nunaliit_atlas .nunaliit_help_button a:visited {
	color: {{header.color}};
	text-decoration: none;
}

/*
CreateDocument widget
*/
.nunaliit_atlas .nunaliit_module_title .n2widget_createDocument,
.nunaliit_atlas .nunaliit_module_title .n2widget_createDocumentFromSchema,
.nunaliit_atlas .nunaliit_module_title .n2widget_export,
.nunaliit_atlas .nunaliit_module_title .n2widget_modelBrowser
 {
	float: right;
	padding: 8px 20px;
}
.nunaliit_atlas .nunaliit_module_title .n2widget_createDocument a,
.nunaliit_atlas .nunaliit_module_title .n2widget_createDocumentFromSchema a,
.nunaliit_atlas .nunaliit_module_title .n2widget_export a,
.nunaliit_atlas .nunaliit_module_title .n2widget_modelBrowser a,
.nunaliit_atlas .nunaliit_module_title .n2widget_multiFilterSelection a,
.nunaliit_atlas .nunaliit_module_title .n2widget_multiDropDownFilterSelection a,
.nunaliit_atlas .nunaliit_module_title .n2widget_createDocument a:visited,
.nunaliit_atlas .nunaliit_module_title .n2widget_createDocumentFromSchema a:visited,
.nunaliit_atlas .nunaliit_module_title .n2widget_export a:visited,
.nunaliit_atlas .nunaliit_module_title .n2widget_modelBrowser a:visited,
.nunaliit_atlas .nunaliit_module_title .n2widget_multiFilterSelection a:visited,
.nunaliit_atlas .nunaliit_module_title .n2widget_multiDropDownFilterSelection a:visited {
	color: {{header.color}};
	text-decoration: none;
}

.nunaliit_atlas .nunaliit_module_title .n2widget_multiFilterSelection a,
.nunaliit_atlas .nunaliit_module_title .n2widget_multiFilterSelection a:visited {
	padding-left: 2px;
	padding-right: 2px;
}
.nunaliit_atlas .nunaliit_module_title .n2widget_multiFilterSelection a.n2widget_multiFilterSelection_selected,
.nunaliit_atlas .nunaliit_module_title .n2widget_multiFilterSelection a.n2widget_multiFilterSelection_selected:visited {
	color: #aaf;
}
.nunaliit_atlas .nunaliit_module_title .n2widget_multiDropDownFilterSelection .n2widget_multiDropDownFilterSelection_option a,
.nunaliit_atlas .nunaliit_module_title .n2widget_multiDropDownFilterSelection .n2widget_multiDropDownFilterSelection_option a:visited {
	color: #000;
}

/*
	Search input located in title bar
*/
.nunaliit_atlas .nunaliit_search_input {
	float: right;
	padding: 1px 20px;
}

/* ============================== */
/* ! CONTENT SECTION   */
/* ============================== */
/* Main Content Section */
.nunaliit_atlas .nunaliit_content {
	top:102px;
	bottom:17px;
}
.nunaliit_atlas .nunaliit_content noscript {
	font:normal;
	font-size:x-large;
}

/* Search */
.nunaliit_atlas .nunaliit_searchInput
,.nunaliit_atlas .n2_content_searchInput {
	background-color: #fff;
	border-bottom:1px solid #e5e5e5;
}
.nunaliit_atlas .nunaliit_search_input input
,.nunaliit_atlas .n2_content_searchInput input {
	background-image: url('images/search.png');
	background-position:center right;
	background-repeat:no-repeat;
	background-color: transparent;
	border-radius: 30px;
	font-family: helvetica, sans-serif;
	font-weight: 400;
	font-size: 0.9em;
	height: 26px;
	padding: 0px 10px;
	margin: 0;
}

/* Side Bar */
.nunaliit_atlas .nunaliit_side
,.nunaliit_atlas .n2_content_text {
	background-color:#fff;
	border-left:1px solid #656565;
}

/* Map Interactions */
.nunaliit_atlas .map_interaction input
,.nunaliit_atlas .n2_content_map_interaction input { 
	background: #000;
	color:#fff;
	padding:8px;
	border:0;
	opacity:0.7;
}
.nunaliit_atlas .map_interaction input:hover
,.nunaliit_atlas .n2_content_map_interaction input:hover {
	opacity:1;
} 

/* DbPerspectiveChooser */

.nunaliit_atlas .n2dbPerspective_chooser {
	font-family: sans-serif;
	font-weight: bold;
	font-size: smaller;
	color: #fff;
}

.n2dbPerspective_chooser_line_label,
.n2dbPerspective_chooser_line_input {
	display: inline-block;
	vertical-align: top;
}

.n2dbPerspective_chooser_line_label {
	width: 125px;
}

.n2dbPerspective_chooser_line_label {
	padding-left: 5px;
}

.n2dbPerspective_chooser_panel {
	position: absolute;
	top: 0;
	left: 28px;
	width: 145px;
}

/* Force Graph Settings */

.nunaliit_atlas .n2ForceGraph_settings {
	font-family: sans-serif;
	font-weight: bold;
	font-size: smaller;
	color: #fff;
}

.n2ForceGraph_settings_line_label,
.n2ForceGraph_settings_line_input {
	display: inline-block;
	vertical-align: top;
}

.n2ForceGraph_settings_line_label {
	width: 125px;
}

.n2ForceGraph_settings_line_label {
	padding-left: 5px;
}

.n2ForceGraph_settings_panel {
	position: absolute;
	top: 0;
	left: 28px;
	width: 145px;
}

/* Table of Contents */
.nunaliit_atlas .nunaliit_table_of_contents ul li a {
	border-bottom: 1px solid rgba(0,0,0,0.3);
	color:#000;
	text-decoration:none;
}
.nunaliit_atlas .nunaliit_table_of_contents ul img {
	border:1px solid rgba(0,0,0,0.5);
}
.nunaliit_atlas .nunaliit_table_of_contents>ul>li>ul>li>a {
	font-size:1.1em;
	font-weight:bold;
}

/* Buttons */
.nunaliit_atlas .n2Display_buttons {
	margin: 10px 0;
	display: block;
}
.nunaliit_form_link
,.n2s_adjustedExternalMediaLink {
	padding: 10px 10px 10px 15px;
	text-decoration: none;
	margin-right: 3px;
	border: 1px solid #c3c1c1;
	background-color:#eee;
	font-weight: normal;
	color: #000;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	vertical-align:top;
}
.nunaliit_form_link.n2show_findNotAvailable {
	display: none;
}
.nunaliit_atlas .n2ModuleIntro {
	padding: 20px;
}
.intro {
	text-align: left;
	vertical-align: text-top;
	margin: 0 0 10px 0;
	display: inline-block;
}
.nunaliit_form_link:hover
,.n2s_adjustedExternalMediaLink:hover { 
	background-color: #e9e6e6;
	-moz-box-shadow: 1px 1px 2px #b8b8b8;
	-webkit-box-shadow: 1px 1px 2px #b8b8b8;
	box-shadow: 1px 1px 2px #b8b8b8;
	border: 1px solid #9e9e9e;
}

.nunaliit_form_link_tree_view {
	display: none;
}

.nunaliit_user_administrator .nunaliit_form_link_tree_view,
.nunaliit_user_advanced .nunaliit_form_link_tree_view {
	display:-moz-inline-stack;
	display:inline-block;
}

.intro b {
	font-size: 26px;
	font-weight: normal;
	display: block;
}

/* Attachment status */
.n2Display_attProgress_icon {
	display: none;
	float: left;
	width: 32px;
	height: 32px;
	margin: 0;
	padding: 0 5px 0 0;
}

.n2Display_attProgress_waiting .n2Display_attProgress_icon {
	display: block;
	background: transparent url(images/fbi_dude.png) no-repeat 0 0; 
}

.n2Display_attProgress_busy .n2Display_attProgress_icon {
	display: block;
	background: transparent url(images/wait_icon.gif) no-repeat 0 0; 
}

.n2Display_attProgress_denied .n2Display_attProgress_icon {
	display: block;
	background: transparent url(images/denied_sign.png) no-repeat 0 0; 
}

.n2Display_attProgress_message {
	padding-top: 5px;
}

.n2Display_attProgress_outer_end {
	clear: both;
}


/* Accordian Interaction - Overide Styles for Jquery UI styling*/
.ui-widget-overlay {
	background-image: none;
	background-color:#000;
	opacity: .45;
	filter: Alpha(Opacity=45);
}
.ui-corner-all {
	moz-border-radius:0;
	border-radius:0;
}
/* .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default */
.ui-accordion .ui-state-default {
	border: none;
	background: none;
	font-weight: normal;
	color: #555555;
}
.ui-accordion .ui-accordion-content {
	padding:0;
	border-top: 0;
	margin-top: 0;
	position: relative;
	top: 0;
	margin-bottom: 0;
	overflow:visible;
	zoom: 1;
}
.ui-effects-wrapper {
	padding:0;
}
.ui-accordion .ui-accordion-header a {
	display: block;
	padding: 18px 18px 18px 38px;
	border:1px solid #cccccc;
	font-weight: bold;
	color: #000;
}
.ui-accordion .ui-accordion-header .ui-icon {
	left: 12px;
}
.olkitSearchMod2_0, .olkitSearchMod2_1 {
	background-color:#fff;
	padding:10px;
	-moz-box-shadow: 1px 1px 3px #e1dfdf;
	-webkit-box-shadow: 1px 1px 3px #e1dfdf;
	box-shadow: 1px 1px 3px #e1dfdf;
}
.editorSelectDocumentDialog .olkitSearchMod2_0, 
.editorSelectDocumentDialog .olkitSearchMod2_1 {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}


.editorSelectDocumentDialog_suggestedHeader {
	font-weight: bold;
}

.editorSelectDocumentDialog_suggestedList {
	min-height: 50px;
	overflow: auto;
	max-height: 400px;
}


._n2DocumentListEntry {
	border-bottom: 1px solid #cccccc;
	border-top: none;
	border-left: none;
	border-right: none;
}

._n2DocumentListEnd {
	border: none;
}

.n2Show_thumb_wrapper {
	margin-bottom:2px;
	text-align:center;
}
.n2Show_thumb_wrapper img {
	width:100%;
	padding:0;
	margin:0 auto 10px auto;
	border:1px solid #ddd;
}
.n2Show_thumb_wrapper img:hover {
	opacity:0.85;
	cursor:pointer;
}
.ui-corner-bottom {
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-bottom: 0;
	border-bottom: 0;
}
.ui-widget {
	font-family: inherit;
	font-size: inherit;
}
.ui-widget-content {
	background-color: rgba(255,255,255,1);
	background: #fff;
}
.ui-widget-content {
	color:#000;
}
.ui-accordion .ui-accordion-header .ui-icon.ui-icon-triangle-1-e { 
	background-image: url('images/bullet_add.png');
	background-position:-8px -7px; 
	background-repeat:no-repeat;
}
.ui-accordion .ui-accordion-header.ui-state-active .ui-icon.ui-icon-triangle-1-s { 
	background-image: url('images/bullet_minus.png');
	background-position:-8px -7px; 
	background-repeat:no-repeat;
}
.n2CouchEditor_container .ui-accordion-content {
padding: 0 0 0 0;
height: auto !important;
}
.n2s_adjustedExternalMediaLink {
	padding-right:25px;
	background-image: url('images/download_file_bg.png');
	background-repeat:no-repeat;
	background-position:center right;
	margin-bottom:10px;
	margin-right:0;
	display:block;
}
.n2s_adjustedExternalMediaLink:hover {
	text-decoration:none;
}
.n2s_externalMediaLinkName {
	font-weight:normal;
	font-style:italic;
	font-size:0.8em;
	color:#848484;
	width:100px;
	overflow:hidden;
}
.ui-widget-header {
	border: none;
	background: none;
	color: #000;
	font-weight: bold;
}
.ui-button-text {
	border: 1px solid #c3c1c1;
	background-color:#eee;
	color: #000;
	margin-right:3px;
}
.ui-button-text:hover {
	background-color: #e9e6e6;
	-moz-box-shadow: 1px 1px 2px #b8b8b8;
	-webkit-box-shadow: 1px 1px 2px #b8b8b8;
	box-shadow: 1px 1px 2px #b8b8b8;
	border: 1px solid #9e9e9e;
}
.n2Auth_login_input, .n2Auth_input_field {
	margin-bottom:5px;
}
.ui-state-active {
	border:0;
	background:transparent;
}
.editorButtons {
	margin:10px 0;
}
/*END - Override Styles for Jquery UI styling*/


/* Side Bar Labels */
.nunaliit_atlas .value {
	margin:5px 0;
}
.nunaliit_atlas .label {
	margin:5px 0;
	padding-right:8px;
	width:30%;
	font-size:1em/1.2em;	
}
.nunaliit_atlas span.label {
	display:inline-block;
}


/* ============================== */
/* ! FOOTER SECTION   */
/* ============================== */

.nunaliit_atlas .nunaliit_footer {
	font-size:0.75em;	
	color: white;
	border-top: 1px solid rgba(255,255,255,1);
	background-color: {{header.background}};
	-moz-box-shadow: 0 3px 8px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.5);
	box-shadow: 0 3px 8px rgba(0,0,0,0.5);
	text-align:right;
}
.nunaliit_atlas .nunaliit_footer_content {
	margin-right:5px;
	padding-right:20px;
	border-right:1px solid rgba(255,255,255,0.3);
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
.nunaliit_atlas .nunaliit_footer_nav ul li {
	border-right: 1px solid rgba(255,255,255,0.3);
	color:{{header.color}};
}
.nunaliit_atlas .nunaliit_footer_nav ul li:first-child {
	border-right:none;
}
.nunaliit_atlas .nunaliit_footer_nav ul li a {
	color:{{header.color}};
	text-decoration:none;
}
.nunaliit_atlas .nunaliit_footer_nav ul li a:hover {
	text-decoration:underline;
}

/* Smaller screens */

@media only screen and (max-width: 1023px) {

	
	
	}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {


}

.n2s_insertedReferenceLink {
	cursor: pointer;
}

