/*
	This portion of the CSS deals with the upload progress bar
*/
.n2UploadProgress {
	position: relative;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 11px;
	margin: 0px;
	padding: 0px;
	border: none;
}

.n2UploadProgressBarBackground {
	position: relative;
	left: 3px;
	top: 3px;
	right: 3px;
	height: 5px;
	margin: 0px;
	padding: 0px;
	border: solid 1px #222222;
	background-color: #ffffff;
}

.n2UploadProgressBar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border: none;
	background-color: #aaaaaa;
}
