/*! n2.widget.css */

/* ==========================================================================
   - Theme styles for Nunaliit demo atlas (Fonts, colors, images, textures etc)
   ========================================================================== */

/* Desktop screens */

/* ============================== */
/* ! HEADER SECTION   */
/* ============================== */

/* Header Title */
.nunaliit_title {
	margin: 11.5px 20px;
	border: 0;
	padding: 0;
	z-index: 10;	
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

/* Sub-Header Title */

.nunaliit_module_title {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 10;
}
.nunaliit_title_link {
	padding: 8px 20px;
	margin: 0;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

/* Header Menu */
.nunaliit_header-nav {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin: 0 0 0 25px;
	padding: 0;
	list-style:	none;
	line-height: 1.0;
	height: 100%;
	vertical-align: top;
}
.nunaliit_header-nav ul {
	position: absolute;
	top: 0;
	left: 100%;
	margin: 0;
	padding: 0;
	display: none;
	width: 100%;
}
.nunaliit_header-nav li {
	float: left;
	position: relative;
	margin: 0;
	padding: 0;
}
.nunaliit_header-nav a {
	display: block;
	position: relative;
	padding: 15px;
	padding-right: 25px;
}
.nunaliit_header-nav img {
	display: none;
}
.nunaliit_header-nav>ul {
	top: 0;
	left: auto;
	height: 100%;
	display: block;
	width: inherit;
}
.nunaliit_header-nav>ul>li>ul {
	left: -1px;
	width: 150%;
	top: 100%;
}
.nunaliit_header-nav ul li {
	width: 100%;
}
.nunaliit_header-nav>ul>li {
	width: auto;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	height: 100%;
}
.nunaliit_header-nav li:hover {
	/*visibility: inherit;  fixes IE7 'sticky bug' */
	text-decoration: underline;
}
.nunaliit_header-nav li:hover>ul,
.nunaliit_header-nav li:focus-within > ul {
	display: block;
	z-index: 99;
}

/* Table of Contents */
.nunaliit_table_of_contents {
	position: absolute;	
	top: 0;
	left: 0;
	right: 451px;
	bottom: 0;
	padding-top: 34px;
	overflow: auto;
}
.nunaliit_table_of_contents ul {
	padding: 0;
	margin: 0;
}
.nunaliit_table_of_contents ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.nunaliit_table_of_contents ul li a {
	padding-bottom: 2.5%;
	display: block;
}
.nunaliit_table_of_contents ul img {
	width: 100%;
	margin-bottom: 10px;
}
.nunaliit_table_of_contents ul>li>ul>li {
	float: left;
	width: 28%;
	padding: 2.5%;
}
.nunaliit_table_of_contents ul>li>ul>li:last-child {
	margin-right: 0;
}
.nunaliit_table_of_contents ul>li>ul>li>ul>li {
	float: left;
	width: 100%;
	padding: 2.5% 0;
}
.nunaliit_table_of_contents>ul>li>a {
	display: none;
}

/* Map Controls - Zoom - Layer Switch */
.olControlLayerSwitcher {
	left: 47px;
	top: 100px;
}
.olControlLayerSwitcher .maximizeDiv, .olControlLayerSwitcher .minimizeDiv,
.olControlLayerSwitcher .layerTogglerDiv {
	width: 28px;
	height: 28px;
	background-image: url('openlayers/settings_icon.png');
	opacity: 0.7;
	top: 5px;
	left: -29px;
}
.olControlLayerSwitcher .maximizeDiv:hover, .olControlLayerSwitcher .minimizeDiv:hover,
.olControlLayerSwitcher .layerTogglerDiv:hover {
	opacity: 1;
}
#OpenLayers_Control_MaximizeDiv img,
#OpenLayers_Control_MinimizeDiv_innerImage {
	display: none;
}

@media screen and (orientation:portrait) {
	.nunaliit_mobile .olControlLayerSwitcher .layersDiv {
		max-height: 20vh;
		max-width: 70vw;
		overflow: auto;
	}
}

@media screen and (max-width: 960px) and (orientation:landscape) {
	.nunaliit_mobile .olControlLayerSwitcher .layersDiv {
		max-height: 20vh;
		max-width: 15vw;
		overflow: auto;
	}
}

.olControlLayerSwitcher .layersDiv {
	background: url('openlayers/popup_bg.png') no-repeat top left;
	padding: 11px 20px;
	margin: 6px 0 0 5px;
}
div.olControlZoom {
	top: 35px;
	left: 20px;
	position: absolute;
	background: none;
	border-radius: 0;
	padding: 0;
}
div.olControlZoom a { 
	background: #000;
	opacity: 0.7;
	padding: 3px;
	border-radius: 0;
	-moz-border-radius: 0;
}
div.olControlZoom a:hover { 
	background: #000;
	opacity: 1;
}	
.olControlEditingToolbar div {
	float: left;
}
div.olControlMousePosition {
	right: 25px;
	background: rgba(255, 255, 255, 0.7);
}

/* ============================== */
/* ! FOOTER SECTION   */
/* ============================== */
.nunaliit_footer_nav {
	margin: 2px 10px;
	list-style: none;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.nunaliit_footer_content {
	margin: 2px 10px;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.nunaliit_footer_nav ul {
	margin: 0;
	padding: 0;
}

.nunaliit_footer_nav ul li {
	padding: 0 10px;
	margin: 0;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.nunaliit_footer_nav ul li:first-child {
	margin-right: 19px;
}
.nunaliit_footer_nav ul li:last-child {
	margin-left: 0;
	padding-left: 0;
	border-left: 0;	
}

/* Smaller screens */
@media only screen and (max-width: 1023px) {
}

/* Mobile */
@media handheld, only screen and (max-width: 767px) {
}

/* 
==============================
LAYER DIALOG SECTION 
==============================
*/

.editorSelectLayerContent {
	overflow: auto;
}
.editorSelectLayerContent div {
	padding: 3px 5px;
}
.editorSelectLayerContent label {
	padding: 0 5px;
}
.editorSelectLayerButtons {
	padding: 10px 0;
}

/* 
==============================
ROLE LIST 
==============================
*/
.n2_roles_list {
	max-height: 400px;
	overflow: auto;
	margin-bottom: 5px;
}

/* 
==============================
Layer Switcher 
==============================
*/
.olControlLayerSwitcher {
	width: 215px;
}
.n2layerSwitcher_input_container
,.n2layerSwitcher_label_container
,.n2layerSwitcher_preview_container {
	display: inline-block;
	vertical-align: top;
}
.n2layerSwitcher_label_container {
	padding-left: 3px;
	width: 125px;
}
.n2layerSwitcher_preview_container {
	padding-left: 3px;
}

/*
==============================
Max Height Widget
==============================
*/
.n2show_maxHeight_truncated {
/*
	background: -linear-gradient(top, #000, #000 80%, #FFF);
	background: -webkit-linear-gradient(top, #000, #000 80%, #FFF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
*/
}

/* 
==============================
Help Dialog 
==============================
*/
.n2help_dialog .ui-dialog-titlebar {
	background: {{header.background}};
	color: {{header.color}};
	font-family: helvetica, sans-serif;
	font-weight: 500;
}

/* 
==============================
Gazetteer Dialog 
==============================
*/
.n2MapAndControls_gazette_results {
	position: relative;
	margin-top: 5px;
	width: 360px;
	height: 440px;
	overflow: auto;
}

.n2MapAndControls_gazette_result {
	width: 340px;
	border: 1px #cccccc solid;
}

.n2MapAndControls_gazette_result:hover {
	background-color: #cccccc;
}

.n2MapAndControls_gazette_result_name {
	font-size: 120%;
}

.n2MapAndControls_gazette_result_location {
	font-size: 80%;
}

/* 
==============================
CreateDocument widget 
==============================
*/
.nunaliit_content .n2widget_createDocument,
.nunaliit_content .n2widget_createDocumentFromSchema {
	position: absolute;
	top: 5px;
	right: 455px;
}

/* 
==============================
Button widget 
==============================
*/
.n2widget_button {
    margin: 0px 8px;
    padding: 11px 16px;
    border-radius: 2px;
    background-color: #777777;
    font-size: 1em;
    line-height: 100%;
}

.n2widget_button:-webkit-any-link {
	text-decoration: none;
}

.n2widget_button:hover {
	background-color: #3465a4;
	transition: 0.3s;
}

.n2widget_button span { 
	color: #ffffff;
}

/* 
==============================
Export Widget 
==============================
*/
.nunaliit_content .n2widget_export {
	position: absolute;
	top: 5px;
	right: 455px;
}

.n2_export_scriptArea {
	width: 500px;
	height: 300px;
}

.n2_export_scriptDisplay {
	position: relative;
	padding: 8px;
	width: 500px;
	height: 300px;
    overflow: auto;
    white-space: pre;
	background-color: rgb(255, 255, 255);
	border: 1px solid #cccccc;
}

/* 
==============================
Timeline widget 
==============================
*/
.nunaliit_content .n2timeline {
	position: absolute;
	bottom: 0px;
	right: 451px;
	left: 0px;
	height: 62px;
}

.n2_display_format_tiled .nunaliit_content .n2timeline {
	right: 640px;
}

.n2timeline {
	background-color: #00ff88;
}

.n2timeline_container {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 0;
    bottom: 0;
}

.n2timeline_slider_wrapper {
	margin: 10px 0px;
	padding: 0;
	border: none;
}

.n2timeline .n2timeline_slider {
	background-color: #000000;
}

.n2timeline .n2timeline_slider .ui-slider-range {
	background-color: #ffffff;
}

.n2timeline_range,
.n2timeline_interval {
	width: 100%;
	font-size: 12px;
	padding: 2px 0px;
}

/* 
==============================
Layer selection widget 
==============================
*/
.nunaliit_module_title .n2layerSelectionWidget {
    display: inline;
    padding: 6px 20px;
}

/* 
==============================
Polar Stereographic Projection Selector 
==============================
*/
.nunaliit_content .n2polarStereographicProjectionSelector {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 100px;
	height: 100px;
}

.n2polarStereographicProjectionSelector {
	/* background-color: #ffffff; */
}
/* 
==============================
 Widget Transcript  
==============================
*/
 

.n2widgetTranscript_transcript {
	overflow-y: scroll;
	margin-top: 1em;
	height: 45vh;
}

.n2widgetTranscript_transcript span {
   cursor: pointer;
   transition: all 0.1s ease-in;
   line-height: 1.8;
   font-family: "Times New Roman", Times, serif;
   font-size: 1.5em; 

}

.n2widgetTranscript_transcript span:hover {
   color: green;
}

.n2widgetTranscript_transcript .highlight {
   color: white;
   background-color: darkorange;
}

/* 
==============================
Wait Widget 
==============================
*/
.n2wait {
    position: absolute;
    display: block;
    background-color: #ffffff;
    right: 0;
    bottom: 0;
    border: solid #000000 1px;
}

.n2_content_contains_text.n2_content_contains_map .n2wait {
    right: 450px;
	bottom: 15px;
}

.n2_display_format_tiled .n2_content_contains_text.n2_content_contains_map .n2wait {
	right: 640px;
}

.n2wait .n2_wait_name_count {
	padding-left: 2px;
}

/* 
==============================
Splash Page 
==============================
*/

.n2Splash_button {
	padding: 0 5px;
}

.n2Splash_buttons .n2Splash_button_disabled {
	color: transparent;
}

.n2Splash_button_close {
	float: right;
}

.n2Splash_label_dontshow {
	padding-left: 50px;
	padding-right: 3px;
}

.n2Splash_ribbon_page {
	padding: 0 2px;
}

.n2Splash_ribbon_page_current {
	font-weight: bold;
}

/* 
==============================
Mail Form 
==============================
*/
.n2mailForm_input_contact {
	width: 500px;
	height: 150px;
}

.n2mailForm_input_message {
	width: 500px;
	height: 400px;
}

.n2mailForm_label {
	padding: 5px 0px 0px 0px;
}

.n2mailForm_button {
	float: right;
	padding: 5px;
}

.n2mailForm_button_disabled {
	color: #ccc !important;
	pointer-events: none;
}

/* 
==============================
Document Selector 
==============================
*/
.nunaliit_module_title .n2widget_documentSelector {
	float: right;
	padding: 8px 20px;
}

/* 
==============================
Single Filter Selection 
==============================
*/
.nunaliit_module_title .n2widget_singleFilterSelection {
	float: right;
	padding: 4px 20px;
}

.nunaliit_module_title .n2widget_singleFilterSelection select {
	border-width: 1px;
	border-radius: 2px;
	background-color: #F1F1F1;
}
/* 
==============================
Multi Filter Selection 
==============================
*/
.nunaliit_module_title .n2widget_multiFilterSelection {
	float: right;
	padding: 8px 20px;
}
.n2widget_multiFilterSelection_position {
	position: 'absolute';
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border: none;
	margin: 0;
	padding: 0;
}
.n2widget_multiFilterSelection_position_hidden {
	display: none;
}
.n2widget_multiFilterSelection_selected {
	color: #00f;
}

/* 
==============================
Multi Drop Down Filter Selection 
==============================
*/
.nunaliit_module_title .n2widget_multiDropDownFilterSelection {
	float: right;
	padding: 4px 10px;
}

.nunaliit_module_title .n2widget_multiDropDownFilterSelection button {
	border-width: 1px;
	border-radius: 2px;
	background-color: #F1F1F1;
}

.nunaliit_module_title .n2widget_multiDropDownFilterSelection.n2widget_multiDropDownFilterSelection_asLink {
	padding: 8px 20px;
}
.n2widget_multiDropDownFilterSelection_position {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border: none;
	margin: 0;
	padding: 0;
}

.n2widget_multiDropDownFilterSelection_selection_hidden button::after {
	content: "\25be";
	padding-left: 5px;
}

.n2widget_multiDropDownFilterSelection_selection_shown button::after {
	content: "\25b4";
	padding-left: 5px;
}

.n2widget_multiDropDownFilterSelection_selection_hidden .n2widget_multiDropDownFilterSelection_position {
	display: none;
}

.n2widget_multiDropDownFilterSelection_select {
	max-height: 355px;
	height: auto;
	min-width: 260px;
	margin-top: 1px;
	border-top: none;
	color: #000;
	background-color: #fff;
	overflow-y: auto;
	box-shadow: 0px 1px 15px #aaaaaa, 0px 1px 1px #666666;
}

.n2widget_multiDropDownFilterSelection_option a {
	color: #000;
	padding: 12px 0px 10px 24px;
	display: block;
	clear: both;
	white-space: nowrap;
	cursor: pointer;  
}

.n2widget_multiDropDownFilterSelection_option.n2widget_multiDropDownFilterSelection_optionUnselected {
	background-color: #f9f9f9;
}

.n2widget_multiDropDownFilterSelection_option.n2widget_multiDropDownFilterSelection_optionSelected {
	background-color: #ffffff;
}

.n2widget_multiDropDownFilterSelection_option.n2widget_multiDropDownFilterSelection_optionUnselected a,
.n2widget_multiDropDownFilterSelection_option.n2widget_multiDropDownFilterSelection_optionSelected a {
	padding: 5px 0px 5px 10px;
}

.n2widget_multiDropDownFilterSelection_option.n2widget_multiDropDownFilterSelection_optionSelected a {
	color: #111111 !important;
}

.n2widget_multiDropDownFilterSelection_option.n2widget_multiDropDownFilterSelection_optionUnselected a {
	color: #aaaaaa !important;
}

.n2widget_multiDropDownFilterSelection_option.n2widget_multiDropDownFilterSelection_optionUnselected a::before {
	content: "\2610";
	padding-right: 5px;
}

.n2widget_multiDropDownFilterSelection_option.n2widget_multiDropDownFilterSelection_optionSelected a::before {
	content: "\2611";
	padding-right: 5px;
	font-weight: bold;
}

/* 
==============================
Model Browser Widget 
==============================
*/
.nunaliit_footer .n2widget_modelBrowser {
	display: none;
}
.nunaliit_user_advanced .nunaliit_footer .n2widget_modelBrowser,
.nunaliit_show_modelBrowserWidget .nunaliit_footer .n2widget_modelBrowser {
	display: block;
	float: right;
	margin: 2px;
}
.nunaliit_footer .n2widget_modelBrowser a {
	text-decoration: none;
	color: {{header.color}};
}
.nunaliit_footer .n2widget_modelBrowser a:visited {
	color: {{header.color}};
}
.n2widget_modelBrowser_model {
	display: block;
}
.n2widget_modelBrowser_model_selected {
	background-color: #ccc;
}
.n2widget_modelBrowser_list_docIds {
    max-height: 400px;
    overflow: auto;
}
.n2widget_modelBrowser_list_docId {
	display: block;
}
.n2widget_modelBrowser_list_docId_selected {
	background-color: #ccc;
}

/*
===============================
WidgetLegend2
===============================
*/
.n2widgetLegend_option.n2widgetLegend_optionUnselected a::before {
	content: "\2610";
	padding-right: 5px;
}

.n2widgetLegend_option.n2widgetLegend_optionSelected a::before {
	content: "\2611";
	padding-right: 5px;
	font-weight: bold;
}

.nunaliit_content .n2widgetLegend .n2widgetLegend_outer .n2widgetLegend_checkboxColumn {
	min-width: 100px; /* width needed to contain four legend symbols */
	display: inline-block;
	vertical-align: top;
}

.n2LegendImageContainer {
    display: inline-block;
    margin: 5px;
	max-width: 250px;
}

.nunaliit_content .n2widgetLegend img {
    border: 0;
    max-height: 350px;
    max-width: 250px;
}

/* 
==============================
Sound 
==============================
*/
.n2CouchSound {
	position: absolute;
	height: 0;
	width: 0;
	overflow: hidden;
	visibility: hidden;
}

/* 
==============================
Map Legend 
==============================
*/
.n2widgetLegend_svg {
	display: inline-block;
	width: 14px;
	height: 14px;
}

/* Styling when added to nunaliit_content */
.nunaliit_content .n2widgetLegend {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.nunaliit_content .n2widgetLegend .n2widgetLegend_outer {
	background-color: rgba(0,0,0,0.9);
	color: #fff;
	padding: 10px;
	border-radius: 2px;
	border: 1px solid #FFFFFF;
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.25);
}

.nunaliit_content .n2widgetLegend .n2widgetLegend_hideable .n2widgetLegend_outer {
	border-top: none;
}

.nunaliit_content .n2widgetLegend .n2widgetLegend_outer .n2widgetLegend_labelColumn {
	width: auto;
	max-width: 300px;
	display: inline-block;
	vertical-align: top;
}

.nunaliit_content .n2widgetLegend .n2widgetLegend_outer .n2widgetLegend_symbolColumn {
	width: 70px; /* width needed to contain four legend symbols */
	display: inline-block;
}

.nunaliit_content .n2widgetLegend_showhideClosed {
	background-color: rgba(0,0,0,0.9);
	color: #fff;
	border: 1px solid #FFFFFF;
	cursor: pointer;
	text-align: right;
    min-width: 75px;
	min-height: 16px;
}

.nunaliit_content .n2widgetLegend_showhide {
	background-color: rgba(0,0,0,0.9);
	color: #fff;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	cursor: pointer;
	text-align: right;
    min-width: 75px;
}

.n2widgetLegend_showhideicon {
	background-position: -8px -7px;
    background-repeat: no-repeat;
	position: absolute;
	right: 2px;
	height: 16px;
	width: 16px;
}

.nunaliit_content .n2widgetLegend_showhide .n2widgetLegend_showhideicon {
	background-image: url(images/bullet_minus.png);
}

.nunaliit_content .n2widgetLegend_showhideClosed .n2widgetLegend_showhideicon {
    background-image: url(images/bullet_add.png);
}

.n2LegendImageLabel {
	text-align: center;
}

.n2widgetLegend_symbolColumn_point,
.n2widgetLegend_symbolColumn_line,
.n2widgetLegend_symbolColumn_polygon,
.n2widgetLegend_symbolColumn_cluster {
	float: left;
}

/* Add padding to legend widget symbols */
.n2widgetLegend_symbolColumn_point .n2widgetLegend_preview.n2widgetLegend_previewPoint,
.n2widgetLegend_symbolColumn_line .n2widgetLegend_preview.n2widgetLegend_previewLine,
.n2widgetLegend_symbolColumn_polygon .n2widgetLegend_preview.n2widgetLegend_previewPolygon,
.n2widgetLegend_symbolColumn_cluster .n2widgetLegend_preview.n2widgetLegend_previewCluster {
	padding: 1px;
}

/* 
==============================
Collapsible Widget Container 
==============================
*/

.n2widgetCollapsibleContainer {
	position: absolute;
	left: 21px;
	top: 150px;
}

.n2widgetCollapsibleContainer_button {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 28px;
    height: 28px;
    background-color: transparent;
    background-image: url(openlayers/settings_icon.png);
    opacity: 0.7;
    cursor: pointer;
}

.n2widgetCollapsibleContainer_button:hover {
	opacity: 1;
}

.n2widgetCollapsibleContainer_widgetContainer {
	display: none;
	position: absolute;
	left: 28px;
	top: 0px;
    background-color: transparent;	
	background: url(openlayers/popup_bg.png) no-repeat top left;
    padding: 11px 20px;
	margin: 0;
	font: bold smaller sans-serif;
    color: white;
}

.n2widgetCollapsibleContainer_opened .n2widgetCollapsibleContainer_widgetContainer {
	display: block;
}

/* 
==============================
Multi Filter Selection  
==============================
*/
.nunaliit_content > .n2widget_multiFilterSelection {
	position: absolute;
	bottom: 10px;
	left: 10px;
	max-width: 200px;
    max-height: 600px;
    overflow: auto;	
	background-color: #000;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0, 0.25);
}

.nunaliit_content > .n2widget_multiFilterSelection:after {
	content: "";
	display: block;
	clear: both;
}

.nunaliit_content > .n2widget_multiFilterSelection > .n2widget_multiFilterSelection_option {
	display: block;
	float: left;
	padding: 2px;
	border: #fff 1px solid;
	margin: 3px;
	cursor: pointer;	
	color: inherit;
	text-decoration: none;
}

.nunaliit_content > .n2widget_multiFilterSelection > .n2widget_multiFilterSelection_option:hover {
	text-decoration: none;
}

.nunaliit_content > .n2widget_multiFilterSelection > .n2widget_multiFilterSelection_selected {
	background-color: #444;
}

/* 
==============================
Duplicate Widget  
==============================
*/
.nunaliit_logged_out .n2widget_duplicate {
	display: none;
}
.nunaliit_module_title .n2widget_duplicate {
	float: right;
	padding: 4px 10px;
}

/* 
==============================
Date Range Widget  
==============================
*/
.n2widget_date_range {
	float: right;
}

.n2widget_date_range input {
	display: block;
	padding: 2px 0px;
	margin: 0px 2px;
	color: #333333 !important;
}

.n2widget_date_range_window {
	display: none;
	position: absolute;
	z-index: 10;
	border: 1px solid #666666;
	border-radius: 2px;
	background-color: #ffffff;
	padding: 5px;
	box-shadow: 1px 2px 3px #999999;
	min-width: 520px;
}

.n2widget_date_range_window_backdrop {
	display: none;
	position: absolute;
	z-index: 9;
	width: 100%;
	height: 100%;
	background-color: #00000050;
}

.n2widget_date_range_window .n2widget_date_range_start,
.n2widget_date_range_window .n2widget_date_range_end {
    width: 50%;
    display: inline-table;
}

.n2widget_date_range_window.active,
.n2widget_date_range_window_backdrop.active {
	display: block;
}

.n2widget_date_range .n2widget_date_range_button {
    display: inline-block;
	cursor: pointer;
    border: 1px solid #333333;
    border-radius: 2px;
    color: #333333;
    background-image: url(images/calendar_icon.png);
    background-position: 2px center;
    background-repeat: no-repeat;
	background-color: #f1f1f1;
	background-size: 18px 18px;
    padding: 2px 10px 2px 24px;
	margin: 2px;
	line-height: 20px;
}

