main {
	width: 100%;
}

#export {
	margin: 10px;
}

#export .exportControls {
	background-color: #f0f0f0;
	padding: 5px;
}

#export .exportDocCount {
	margin: 0px 10px;
}

#export .exportControls .mdc-select {
	margin-right: 6px;
}

#export .exportError, 
#export .exportResut {
	padding: 10px;
}

textarea.exportCsv {
	width: 90%;
	height: 500px;
}

form.exportForm {
	display: inline;
}

