main {
	width: 100%;
}

#restoreTool {
	margin: 10px;
}

#restoreTool .restoreDeletedDocs {
	overflow: auto;
	max-height: 100vh;
	/* 174px = margin/padding around main page + restoreDeletedHeader height + top app bar height */
	max-height: calc(100vh - 174px);
}

#restoreTool .restoreRevisionList, 
#restoreTool .restoreDisplay {
	padding-bottom: 10px;
}

