body {
	overflow: auto;
	margin: 0;
	padding: 0;
}

main {
	width: 100%;
}
#schemaApp {
	margin: 10px;
}
.schemaAppBody {
	margin: 5px;
}

/* Logs */
.error {
	color: #ff0000;
}
.log {
	color: #0000ff;
}
.log, 
.error,
.schemaAppOptionalSchemasContent {
	padding: 5px;
}
/* Divs */
.schemaAppLogs, 
.schemaAppOptionalSchemas {
	margin-top: 10px;
}
.schemaAppLogs h1, .schemaAppOptionalSchemas h1 {
	font-weight: bold;
	background-color: #f0f0f0;
	margin: 0;
	font-size: 1.3em;
	padding-left: 5px;
}
.schemaAppMinHeight {
	height: 40px;
}

