.submission {
	border-bottom: 1px solid #000000;
	margin-top: 5px;
	margin-bottom: 5px;
}

.submission:after {
	display: block;
	clear: both;
	content: "";
}

.submission_info {
	float: left;
}

.submission_views {
	float: left;
	margin-left: 10px;
}

.submission_buttons {
	float: left;
	margin-left: 10px;
}

.submission_brief {
	float: left;
	margin-left: 10px;
}

.submission_attachments {
	float: left;
	margin-left: 10px;
}

.submission_info .key {
	font-weight: bold;
}

.submission_view_dialog_merging_current_outer,
.submission_view_dialog_merging_submitted_outer {
	float: left;
	width: 49%;
}

.submission_view_dialog_merging_content:after {
	display: block;
	clear: both;
	content: "";
}

.submission_view_dialog_merging_label {
	font-weight: bold;
}

.submission_view_dialog_merging_delta_outer,
.submission_view_dialog_merging_buttons {
	margin-top: 10px;
}

.submission_view_dialog_merging_buttons button {
	float: left;
}

.submission_view_dialog_merging_buttons:after {
	display: block;
	clear: both;
	content: "";
}

.submission_view_dialog_merging_buttons button.n2_button_cancel {
	margin-left: 10px;
}

.submission_view_dialog_merging_buttons button.n2_button_manual {
	margin-left: 10px;
}

.submission_view_dialog_merging_buttons button.n2_button_deny {
	margin-right: 10px;
}

textarea.submission_deny_dialog_reason {
	width: 460px;
	height: 125px;
}

.submission_deny_dialog_options {
	margin-top: 5px;
	margin-bottom: 5px;
}

textarea.submission_approve_dialog_message {
	width: 460px;
	height: 125px;
}

.submission_approve_dialog_options {
	margin-top: 5px;
	margin-bottom: 5px;
}

span.patchSelected, div.patchSelected {
	font-weight: bold;
	color: #00ff00;
}

span.patchModified, div.patchModified {
	font-weight: bold;
	color: #00ff00;
}

span.patchDeleted, div.patchDeleted {
	font-weight: bold;
	color: #ff0000;
}

span.patchCollision, div.patchCollision {
	font-weight: bold;
	color: #ff0000;
}

.tree .mouseSelected .treeKey {
	font-weight: bold;
	color: #000000;
}
