.submission {
	border-bottom: 1px solid #000000;
	margin-top: 5px;
	margin-bottom: 5px;
}

.submission:after {
	display: block;
	clear: both;
	content: "";
}

.submission_info {
	float: left;
}

.submission_views {
	float: left;
	margin-left: 10px;
}

.submission_buttons {
	float: left;
	margin-left: 10px;
}

.submission_view_dialog_merging_current_outer,
.submission_view_dialog_merging_submitted_outer {
	float: left;
	width: 49%;
}

.submission_view_dialog_merging_content:after {
	display: block;
	clear: both;
	content: "";
}

.submission_view_dialog_merging_label {
	font-weight: bold;
}

.submission_view_dialog_merging_delta_outer,
.submission_view_dialog_merging_buttons {
	margin-top: 10px;
}

.submission_view_dialog_merging_buttons button {
	float: left;
}

.submission_view_dialog_merging_buttons:after {
	display: block;
	clear: both;
	content: "";
}

.submission_view_dialog_merging_buttons button.n2_button_cancel {
	margin-left: 10px;
}

.submission_view_dialog_merging_buttons button.n2_button_deny {
	margin-right: 10px;
}

span.patchSelected {
	font-weight: bold;
	color: #00ff00;
}

span.patchModified {
	font-weight: bold;
	color: #00ff00;
}

span.patchDeleted {
	font-weight: bold;
	color: #ff0000;
}

.tree .mouseSelected .treeKey {
	font-weight: bold;
	color: #000000;
}
