body {
	overflow: auto;
	margin: 0;
	padding: 0;
}

main {
	width: 100%;
}

table.translations th,
table.translations td {
	padding: 0 5px 0 5px;
}

#requests {
	margin: 10px;
}

.translationButtonLine {
	margin: 10px 10px 0px 10px;
	display: inline-flex;
}

.translationButtonLine .mdc-select {
	margin-right: 10px;
}

#requests .translationResult.mdc-card {
	padding: 5px;
}

