body {
	overflow: auto;
}

main {
	width: 100%;
}

tr.upload_line td {
	vertical-align: top;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}

#requests {
	margin: 10px;
}

#requests .uploadButtonLine {
	margin-bottom: 10px;
	display: inline-flex;
}

#requests .uploadButtonLine .mdc-select {
	margin-right: 5px;
}

