.nunaliit_content .n2_filterableLegendWidgetWithGraphic {
	position: absolute;
	display: flex;
	bottom: 10px;
	left: 10px;
	margin-bottom: 30px;
}

.nunaliit_content .n2_filterableLegendWidgetWithGraphic .n2widgetLegend {
	position: static;
}

.nunaliit_content .n2_filterableLegendWidgetWithGraphic .n2widgetLegend_svg {
	display: inline-block;
	width: 14px;
	height: 14px;
}

.nunaliit_content .n2_filterableLegendWidgetWithGraphic .n2widgetLegend .n2widgetLegend_outer {
	background-color: rgba(0,0,0,0.9);
	color: #fff;
	padding: 10px;
	border-radius: 2px;
	border: 1px solid #ffffff;
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.25);
}

#n2_filterableLegendWidgetLegend .n2widgetLegend_outer .n2widgetLegend_legendEntry {
	display: flex;
	height: 1.3em;
}

#n2_filterableLegendWidgetLegend .n2widgetLegend_outer .n2widgetLegend_legendEntry > label {
	display: flex;
}

#n2_filterableLegendWidgetLegend .n2widgetLegend_outer .n2widgetLegend_labelColumn {
	width: auto;
	max-width: 300px;
	vertical-align: top;
}

#n2_filterableLegendWidgetLegend .n2widgetLegend_outer .n2widgetLegend_symbolColumn {
	width: 50px;
	padding-left: 10px;
}

#n2_filterableLegendWidgetGraphic {
	background-color: rgb(255, 255, 255, 0.6);
}

#n2_filterableLegendWidgetWithGraphicToggle {
	position: absolute;
	top: 0;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 0px 3px 3px 0px;
}

#n2_filterableLegendWidgetWithGraphicToggle.n2_filterableLegendWidgetWithGraphicMinimize:before {
	content: '<';
}

#n2_filterableLegendWidgetWithGraphicToggle.n2_filterableLegendWidgetWithGraphicMaximize {
	background-color: rgb(255, 255, 255, 0.6);
}

#n2_filterableLegendWidgetWithGraphicToggle.n2_filterableLegendWidgetWithGraphicMaximize:before {
	content: '>';
}

#n2_filterableLegendWidgetGraphic #filterableLegendWidgetGraphicArea.filterableLegendWidgetGraphicAreaHidden {
	display: none;
}