name: build-latest-nunaliit-release
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-nunaliit-and-release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Set up JDK 24
        uses: actions/setup-java@v5.1.0
        with:
          java-version: '24.0.2'
          java-package: 'jdk'
          distribution: 'temurin'
          cache: 'maven'
      - name: Build Nunaliit with Maven
        run: mvn clean install
      - name: Get latest tag across main branch
        run: |
          git fetch --tags
          echo "LATEST_TAG=$(git describe --tags --abbrev=0)" >> $GITHUB_ENV
      - name: Create release with GitHub CLI
        run: |
          gh release delete $LATEST_TAG --yes
          gh release create $LATEST_TAG nunaliit2-couch-sdk/target/*.tar.gz nunaliit2-couch-sdk/target/*.zip --notes "" --latest --target master --verify-tag 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
